## Working with pandas dataframes

I am trying to extract the name information using the columns (as a whole, if that makes sense).  I have a function works if I iterate through the rows and treat each 'Name' individually.

In [1]:
import numpy as np
import pandas as pd
import sqlite3
import os
import feather
import datetime

In [2]:
apsim_sourcedir = "/OSM/CBR/AG_WHEATTEMP/source"
apsim_outfiledir = "/OSM/CBR/AG_WHEATTEMP/work/output"
metfile_sourcedir = "/OSM/CBR/AG_WHEATTEMP/work/ApsimNG-test/APSIM_run/met"

In [3]:
dbfile_df = pd.DataFrame(columns=['filename'])
dbfile_df.filename = sorted(apsim_sourcedir+'/'+f for f in os.listdir(apsim_sourcedir) if f.endswith('.db'))
print(dbfile_df.head())

                                       filename
0  /OSM/CBR/AG_WHEATTEMP/source/113.60-28.30.db
1  /OSM/CBR/AG_WHEATTEMP/source/113.70-28.45.db
2  /OSM/CBR/AG_WHEATTEMP/source/113.70-28.50.db
3  /OSM/CBR/AG_WHEATTEMP/source/113.75-28.45.db
4  /OSM/CBR/AG_WHEATTEMP/source/113.75-28.50.db

In [4]:
#we are going to work with just the first filename
print(dbfile_df.filename[0])
con = sqlite3.connect(dbfile_df.filename[0])
cur = con.cursor()

/OSM/CBR/AG_WHEATTEMP/source/113.60-28.30.db

In [5]:
strSql = "SELECT ID as SimulationID, Name FROM _Simulations"
dfSim = pd.read_sql_query(strSql, con, index_col = 'SimulationID')
print(dfSim.shape)
dfSim

(1071, 1)

                                           Name
SimulationID
1                      11360_-2830_young_29-jul
2                  11360_-2830_agt_katana_1-apr
3                  11360_-2830_agt_scythe_1-apr
4                    11360_-2830_annuello_1-apr
5                      11360_-2830_aroona_1-apr
6                      11360_-2830_arrino_1-apr
7                      11360_-2830_attila_1-apr
8                         11360_-2830_axe_1-apr
9                       11360_-2830_banks_1-apr
10                    11360_-2830_batavia_1-apr
11                     11360_-2830_baxter_1-apr
12                      11360_-2830_binnu_1-apr
13                      11360_-2830_blade_1-apr
14                      11360_-2830_bolac_1-apr
15                   11360_-2830_braewood_1-apr
16                     11360_-2830_cadoux_1-apr
17                  11360_-2830_calingiri_1-apr
18                       11360_-2830_camm_1-apr
19                    11360_-2830_carinya_1-apr
20                   11360_-2830_carnamah_1-apr
21                   11360_-2830_cascades_1-apr
22                   11360_-2830_catalina_1-apr
23                   11360_-2830_champtal_1-apr
24                      11360_-2830_chara_1-apr
25            11360_-2830_clearfield_janz_1-apr
26                     11360_-2830_corack_1-apr
27                    11360_-2830_correll_1-apr
28                   11360_-2830_crusader_1-apr
29                  11360_-2830_cunderdin_1-apr
30                  11360_-2830_currawong_1-apr
...                                         ...
1042                    11360_-2830_rees_29-jul
1043                11360_-2830_sentinel_29-jul
1044                  11360_-2830_shield_29-jul
1045              11360_-2830_silverstar_29-jul
1046                   11360_-2830_spear_29-jul
1047                11360_-2830_spitfire_29-jul
1048                11360_-2830_stretton_29-jul
1049              11360_-2830_strzelecki_29-jul
1050                  11360_-2830_stylet_29-jul
1051                  11360_-2830_sunbri_29-jul
1052                   11360_-2830_sunco_29-jul
1053                  11360_-2830_sunlin_29-jul
1054                11360_-2830_sunstate_29-jul
1055                  11360_-2830_suntop_29-jul
1056                 11360_-2830_sunvale_29-jul
1057           11360_-2830_super_seri_#1_29-jul
1058           11360_-2830_tammarin_rock_29-jul
1059               11360_-2830_thornbill_29-jul
1060               11360_-2830_tincurrin_29-jul
1061                 11360_-2830_trident_29-jul
1062                     11360_-2830_tui_29-jul
1063                   11360_-2830_uresk_29-jul
1064                 11360_-2830_ventura_29-jul
1065                  11360_-2830_wallup_29-jul
1066                11360_-2830_westonia_29-jul
1067             11360_-2830_wyalkatchem_29-jul
1068              11360_-2830_yandanooka_29-jul
1069                   11360_-2830_yenda_29-jul
1070                   11360_-2830_yitpi_29-jul
1071                   11360_-2830_young_29-jul

[1071 rows x 1 columns]

In [6]:
#filename = apsim_outfiledir + "/simNames.csv"
#dfSim.to_csv(filename, encoding='utf-8', index=False)

While the above works nicely, it may not be the best way to achieve this, might need to do some testing when dealing with more data.  So I will use regular expressions instead.

In [7]:
#a more optimal way to achieve the above
dfSim[['long','lat','variety','sowdate']] = dfSim['Name'].str.extract("^(?P<long>\d+)_(?P<lat>-?\d+)_(?P<variety>\S+)_(?P<sowdate>\d+-\S+)$", expand=True)
dfSim

,Name,long,lat,variety,sowdate
SimulationID,,,,,
1,11360_-2830_young_29-jul,11360,-2830,young,29-jul
2,11360_-2830_agt_katana_1-apr,11360,-2830,agt_katana,1-apr
3,11360_-2830_agt_scythe_1-apr,11360,-2830,agt_scythe,1-apr
4,11360_-2830_annuello_1-apr,11360,-2830,annuello,1-apr
5,11360_-2830_aroona_1-apr,11360,-2830,aroona,1-apr
6,11360_-2830_arrino_1-apr,11360,-2830,arrino,1-apr
7,11360_-2830_attila_1-apr,11360,-2830,attila,1-apr
8,11360_-2830_axe_1-apr,11360,-2830,axe,1-apr
9,11360_-2830_banks_1-apr,11360,-2830,banks,1-apr
10,11360_-2830_batavia_1-apr,11360,-2830,batavia,1-apr
11,11360_-2830_baxter_1-apr,11360,-2830,baxter,1-apr
12,11360_-2830_binnu_1-apr,11360,-2830,binnu,1-apr
13,11360_-2830_blade_1-apr,11360,-2830,blade,1-apr
14,11360_-2830_bolac_1-apr,11360,-2830,bolac,1-apr
15,11360_-2830_braewood_1-apr,11360,-2830,braewood,1-apr
16,11360_-2830_cadoux_1-apr,11360,-2830,cadoux,1-apr
17,11360_-2830_calingiri_1-apr,11360,-2830,calingiri,1-apr
18,11360_-2830_camm_1-apr,11360,-2830,camm,1-apr
19,11360_-2830_carinya_1-apr,11360,-2830,carinya,1-apr
20,11360_-2830_carnamah_1-apr,11360,-2830,carnamah,1-apr
21,11360_-2830_cascades_1-apr,11360,-2830,cascades,1-apr
22,11360_-2830_catalina_1-apr,11360,-2830,catalina,1-apr
23,11360_-2830_champtal_1-apr,11360,-2830,champtal,1-apr
24,11360_-2830_chara_1-apr,11360,-2830,chara,1-apr
25,11360_-2830_clearfield_janz_1-apr,11360,-2830,clearfield_janz,1-apr
26,11360_-2830_corack_1-apr,11360,-2830,corack,1-apr
27,11360_-2830_correll_1-apr,11360,-2830,correll,1-apr
28,11360_-2830_crusader_1-apr,11360,-2830,crusader,1-apr
29,11360_-2830_cunderdin_1-apr,11360,-2830,cunderdin,1-apr
30,11360_-2830_currawong_1-apr,11360,-2830,currawong,1-apr
...,...,...,...,...,...
1042,11360_-2830_rees_29-jul,11360,-2830,rees,29-jul
1043,11360_-2830_sentinel_29-jul,11360,-2830,sentinel,29-jul
1044,11360_-2830_shield_29-jul,11360,-2830,shield,29-jul
1045,11360_-2830_silverstar_29-jul,11360,-2830,silverstar,29-jul
1046,11360_-2830_spear_29-jul,11360,-2830,spear,29-jul
1047,11360_-2830_spitfire_29-jul,11360,-2830,spitfire,29-jul
1048,11360_-2830_stretton_29-jul,11360,-2830,stretton,29-jul
1049,11360_-2830_strzelecki_29-jul,11360,-2830,strzelecki,29-jul
1050,11360_-2830_stylet_29-jul,11360,-2830,stylet,29-jul
1051,11360_-2830_sunbri_29-jul,11360,-2830,sunbri,29-jul
1052,11360_-2830_sunco_29-jul,11360,-2830,sunco,29-jul
1053,11360_-2830_sunlin_29-jul,11360,-2830,sunlin,29-jul
1054,11360_-2830_sunstate_29-jul,11360,-2830,sunstate,29-jul
1055,11360_-2830_suntop_29-jul,11360,-2830,suntop,29-jul
1056,11360_-2830_sunvale_29-jul,11360,-2830,sunvale,29-jul
1057,11360_-2830_super_seri_#1_29-jul,11360,-2830,super_seri_#1,29-jul
1058,11360_-2830_tammarin_rock_29-jul,11360,-2830,tammarin_rock,29-jul
1059,11360_-2830_thornbill_29-jul,11360,-2830,thornbill,29-jul
1060,11360_-2830_tincurrin_29-jul,11360,-2830,tincurrin,29-jul
1061,11360_-2830_trident_29-jul,11360,-2830,trident,29-jul
1062,11360_-2830_tui_29-jul,11360,-2830,tui,29-jul
1063,11360_-2830_uresk_29-jul,11360,-2830,uresk,29-jul
1064,11360_-2830_ventura_29-jul,11360,-2830,ventura,29-jul
1065,11360_-2830_wallup_29-jul,11360,-2830,wallup,29-jul
1066,11360_-2830_westonia_29-jul,11360,-2830,westonia,29-jul
1067,11360_-2830_wyalkatchem_29-jul,11360,-2830,wyalkatchem,29-jul
1068,11360_-2830_yandanooka_29-jul,11360,-2830,yandanooka,29-jul
1069,11360_-2830_yenda_29-jul,11360,-2830,yenda,29-jul
1070,11360_-2830_yitpi_29-jul,11360,-2830,yitpi,29-jul
1071,11360_-2830_young_29-jul,11360,-2830,young,29-jul

In [8]:
#now format the longitude and latitude columns correctly and
#add the SimID column (as we cannot work with the index column)
pd.options.display.float_format = '{:,.2f}'.format
dfSim['long'] = dfSim['long'].astype(float) / 100
dfSim['lat'] = dfSim['lat'].astype(float) / 100
dfSim['SimID'] = dfSim.index

In [9]:
print(dfSim.shape)
dfSim

(1071, 6)

,Name,long,lat,variety,sowdate,SimID
SimulationID,,,,,,
1,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul,1
2,11360_-2830_agt_katana_1-apr,113.60,-28.30,agt_katana,1-apr,2
3,11360_-2830_agt_scythe_1-apr,113.60,-28.30,agt_scythe,1-apr,3
4,11360_-2830_annuello_1-apr,113.60,-28.30,annuello,1-apr,4
5,11360_-2830_aroona_1-apr,113.60,-28.30,aroona,1-apr,5
6,11360_-2830_arrino_1-apr,113.60,-28.30,arrino,1-apr,6
7,11360_-2830_attila_1-apr,113.60,-28.30,attila,1-apr,7
8,11360_-2830_axe_1-apr,113.60,-28.30,axe,1-apr,8
9,11360_-2830_banks_1-apr,113.60,-28.30,banks,1-apr,9
10,11360_-2830_batavia_1-apr,113.60,-28.30,batavia,1-apr,10
11,11360_-2830_baxter_1-apr,113.60,-28.30,baxter,1-apr,11
12,11360_-2830_binnu_1-apr,113.60,-28.30,binnu,1-apr,12
13,11360_-2830_blade_1-apr,113.60,-28.30,blade,1-apr,13
14,11360_-2830_bolac_1-apr,113.60,-28.30,bolac,1-apr,14
15,11360_-2830_braewood_1-apr,113.60,-28.30,braewood,1-apr,15
16,11360_-2830_cadoux_1-apr,113.60,-28.30,cadoux,1-apr,16
17,11360_-2830_calingiri_1-apr,113.60,-28.30,calingiri,1-apr,17
18,11360_-2830_camm_1-apr,113.60,-28.30,camm,1-apr,18
19,11360_-2830_carinya_1-apr,113.60,-28.30,carinya,1-apr,19
20,11360_-2830_carnamah_1-apr,113.60,-28.30,carnamah,1-apr,20
21,11360_-2830_cascades_1-apr,113.60,-28.30,cascades,1-apr,21
22,11360_-2830_catalina_1-apr,113.60,-28.30,catalina,1-apr,22
23,11360_-2830_champtal_1-apr,113.60,-28.30,champtal,1-apr,23
24,11360_-2830_chara_1-apr,113.60,-28.30,chara,1-apr,24
25,11360_-2830_clearfield_janz_1-apr,113.60,-28.30,clearfield_janz,1-apr,25
26,11360_-2830_corack_1-apr,113.60,-28.30,corack,1-apr,26
27,11360_-2830_correll_1-apr,113.60,-28.30,correll,1-apr,27
28,11360_-2830_crusader_1-apr,113.60,-28.30,crusader,1-apr,28
29,11360_-2830_cunderdin_1-apr,113.60,-28.30,cunderdin,1-apr,29
30,11360_-2830_currawong_1-apr,113.60,-28.30,currawong,1-apr,30
...,...,...,...,...,...,...
1042,11360_-2830_rees_29-jul,113.60,-28.30,rees,29-jul,1042
1043,11360_-2830_sentinel_29-jul,113.60,-28.30,sentinel,29-jul,1043
1044,11360_-2830_shield_29-jul,113.60,-28.30,shield,29-jul,1044
1045,11360_-2830_silverstar_29-jul,113.60,-28.30,silverstar,29-jul,1045
1046,11360_-2830_spear_29-jul,113.60,-28.30,spear,29-jul,1046
1047,11360_-2830_spitfire_29-jul,113.60,-28.30,spitfire,29-jul,1047
1048,11360_-2830_stretton_29-jul,113.60,-28.30,stretton,29-jul,1048
1049,11360_-2830_strzelecki_29-jul,113.60,-28.30,strzelecki,29-jul,1049
1050,11360_-2830_stylet_29-jul,113.60,-28.30,stylet,29-jul,1050
1051,11360_-2830_sunbri_29-jul,113.60,-28.30,sunbri,29-jul,1051
1052,11360_-2830_sunco_29-jul,113.60,-28.30,sunco,29-jul,1052
1053,11360_-2830_sunlin_29-jul,113.60,-28.30,sunlin,29-jul,1053
1054,11360_-2830_sunstate_29-jul,113.60,-28.30,sunstate,29-jul,1054
1055,11360_-2830_suntop_29-jul,113.60,-28.30,suntop,29-jul,1055
1056,11360_-2830_sunvale_29-jul,113.60,-28.30,sunvale,29-jul,1056
1057,11360_-2830_super_seri_#1_29-jul,113.60,-28.30,super_seri_#1,29-jul,1057
1058,11360_-2830_tammarin_rock_29-jul,113.60,-28.30,tammarin_rock,29-jul,1058
1059,11360_-2830_thornbill_29-jul,113.60,-28.30,thornbill,29-jul,1059
1060,11360_-2830_tincurrin_29-jul,113.60,-28.30,tincurrin,29-jul,1060
1061,11360_-2830_trident_29-jul,113.60,-28.30,trident,29-jul,1061
1062,11360_-2830_tui_29-jul,113.60,-28.30,tui,29-jul,1062
1063,11360_-2830_uresk_29-jul,113.60,-28.30,uresk,29-jul,1063
1064,11360_-2830_ventura_29-jul,113.60,-28.30,ventura,29-jul,1064
1065,11360_-2830_wallup_29-jul,113.60,-28.30,wallup,29-jul,1065
1066,11360_-2830_westonia_29-jul,113.60,-28.30,westonia,29-jul,1066
1067,11360_-2830_wyalkatchem_29-jul,113.60,-28.30,wyalkatchem,29-jul,1067
1068,11360_-2830_yandanooka_29-jul,113.60,-28.30,yandanooka,29-jul,1068
1069,11360_-2830_yenda_29-jul,113.60,-28.30,yenda,29-jul,1069
1070,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul,1070
1071,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul,1071

### Now retrieve the Report Data

We can use the simIds that were collected above

In [10]:
#This should return all of the columns
#strSql = "SELECT * FROM Report \
#          ORDER BY SimulationID"

strSql = "SELECT SimulationID, substr([Clock.Today], 1, 10) as runDate, [Wheat.Leaf.LAI] as LeafLAI, \
          [Wheat.AboveGround.Wt] as AboveGroundWeight, [Wheat.Grain.Wt] as GrainWeight, \
          [Wheat.Phenology.Zadok.Stage] as ZadokStage, [Wheat.WaterSupplyDemandRatio] as WaterSupplyDemandRatio, \
          [Wheat.Root.NUptake] as RootNUptake, [Wheat.Leaf.Fn] as LeafFn \
          FROM Report \
          ORDER BY SimulationID, runDate"
print(strSql)

SELECT SimulationID, substr([Clock.Today], 1, 10) as runDate, [Wheat.Leaf.LAI] as LeafLAI,           [Wheat.AboveGround.Wt] as AboveGroundWeight, [Wheat.Grain.Wt] as GrainWeight,           [Wheat.Phenology.Zadok.Stage] as ZadokStage, [Wheat.WaterSupplyDemandRatio] as WaterSupplyDemandRatio,           [Wheat.Root.NUptake] as RootNUptake, [Wheat.Leaf.Fn] as LeafFn           FROM Report           ORDER BY SimulationID, runDate

In [ ]:
print(datetime.datetime.now())
dfReport = pd.read_sql_query(strSql, con, \
                       index_col="SimulationID"
                      )
print(datetime.datetime.now())
print(dfReport.shape)
dfReport

2018-07-17 14:09:51.067330

In [ ]:
# Need to re-format the (string) runDate column to a 'date' column
# and create the SimID column, both of which are used to merge with other dataframes 
dfReport['runDate'] = pd.to_datetime(dfReport['runDate'], format="%Y-%m-%d")
dfReport['SimID'] = dfReport.index
dfReport

### Lets retrieve the weather data and format it as required

In [ ]:
print(dbfile_df.filename[0])

In [ ]:
def get_weather_filename(sourceDir, dbfilename):
    '''
    takes in the sourceDirectory for the met files, and the SQLite database filename
    and returns the fullpath/filename of the met file
    '''
    
    #apsim_outfiledir 
    #K:\ApsimNG-test\APSIM_run\met
    filename = os.path.basename(dbfilename)
    filename = os.path.splitext(filename)[0]
    nameparts = filename.split('-')
    #cannot use the db filename as it doesn't have the long & lat that we require
    #need to manipulate the filename to add the underscrore '_' char
    filename = nameparts[0] + '_-' + nameparts[1]
    #filename = "115.20_-29.35"
    filename = sourceDir + "/c_" + filename + ".met"
    print(filename)
    #print("/OSM/CBR/AG_WHEATTEMP/work/ApsimNG-test/APSIM_run/met/")
    
    return filename

In [ ]:
def compose_date(years, months=1, days=1, weeks=None, hours=None, minutes=None,
                 seconds=None, milliseconds=None, microseconds=None, nanoseconds=None):
    '''
    builds a date based on a year and day of year
    '''
    
    years = np.asarray(years) - 1970
    months = np.asarray(months) - 1
    days = np.asarray(days) - 1
    types = ('<M8[Y]', '<m8[M]', '<m8[D]', '<m8[W]', '<m8[h]',
             '<m8[m]', '<m8[s]', '<m8[ms]', '<m8[us]', '<m8[ns]')
    vals = (years, months, days, weeks, hours, minutes, seconds,
            milliseconds, microseconds, nanoseconds)
    
    return sum(np.asarray(v, dtype=t) for t, v in zip(types, vals)
               if v is not None)

    #df = pd.DataFrame({'doy': [49, 65, 81, 97, 113, 129, 145, 161],
    #               'year': [2000, 2000, 2000, 2001, 2001, 2001, 2001, 2001]})

In [18]:
def read_ApsimWeather(filename):
    '''
    Reads an apsim weather ('.met') file, removes the header information,
    calculates and adds a date column (based on year and day), and the
    average temperature (based on maxt and mint).
    '''

    lineNo = 0
    with open(filename, "r") as f:
        for line in f:
            lineNo = lineNo + 1
            if line.startswith('year'):
                break;

    # return the data using the starting line no (determined above)
    # original column names=['year','day', 'radn', 'maxt', 'mint', 'rain']
    metData = pd.read_table(filename, sep='\s+', header=None, skiprows=lineNo+1,
                            names=['year','dayofYear', 'radiation', 'maxTemp', 'minTemp', 'rain'])

    # add the calculated columns
    metData['runDate'] = pd.to_datetime(metData['year'].astype(str) + " " + metData['dayofYear'].astype(str),  format="%Y %j")

    # this may need to be the thermal time, not just average temp
    metData['avgTemp'] = (metData['maxTemp'] + metData['minTemp']) / 2

    # sort the columns to be a little more logical
    cols=['year', 'dayofYear', 'runDate', 'maxTemp', 'minTemp', 'avgTemp', 'rain', 'radiation']
    metData = metData[cols]

    return metData

In [19]:
filename = get_weather_filename(metfile_sourcedir, dbfile_df.filename[0])
metData = read_ApsimWeather(filename)
print(metData.shape)
metData

/OSM/CBR/AG_WHEATTEMP/work/ApsimNG-test/APSIM_run/met/c_113.60_-28.30.met
(43038, 8)

       year  dayofYear    runDate  maxTemp  minTemp  avgTemp  rain  radiation
0      1900          1 1900-01-01    31.80    13.40    22.60  0.00      24.30
1      1900          2 1900-01-02    31.80    13.40    22.60  0.00      24.30
2      1900          3 1900-01-03    31.80    13.40    22.60  0.00      24.30
3      1900          4 1900-01-04    31.80    13.40    22.60  0.00      24.30
4      1900          5 1900-01-05    31.80    13.40    22.60  0.00      24.30
5      1900          6 1900-01-06    31.80    13.40    22.60  0.00      24.30
6      1900          7 1900-01-07    31.80    13.40    22.60  0.00      24.30
7      1900          8 1900-01-08    31.80    13.40    22.60  0.00      24.30
8      1900          9 1900-01-09    31.80    13.40    22.60  0.00      24.30
9      1900         10 1900-01-10    31.80    13.40    22.60  0.00      24.30
10     1900         11 1900-01-11    31.80    13.40    22.60  0.00      24.30
11     1900         12 1900-01-12    31.80    13.40    22.60  0.00      24.30
12     1900         13 1900-01-13    31.80    13.40    22.60  0.00      24.30
13     1900         14 1900-01-14    31.80    13.40    22.60  0.00      24.30
14     1900         15 1900-01-15    31.80    13.40    22.60  0.00      24.30
15     1900         16 1900-01-16    31.80    13.40    22.60  0.00      24.30
16     1900         17 1900-01-17    31.80    13.40    22.60  0.00      24.30
17     1900         18 1900-01-18    31.80    13.40    22.60  0.00      24.30
18     1900         19 1900-01-19    31.80    13.40    22.60  0.00      24.30
19     1900         20 1900-01-20    31.80    13.40    22.60  0.00      24.30
20     1900         21 1900-01-21    31.80    13.40    22.60  0.00      24.30
21     1900         22 1900-01-22    31.80    13.40    22.60  0.00      24.30
22     1900         23 1900-01-23    31.80    13.40    22.60  0.00      24.30
23     1900         24 1900-01-24    31.80    13.40    22.60  0.00      24.30
24     1900         25 1900-01-25    31.80    13.40    22.60  0.00      24.30
25     1900         26 1900-01-26    31.80    13.40    22.60  0.00      24.30
26     1900         27 1900-01-27    31.80    13.40    22.60  0.00      24.30
27     1900         28 1900-01-28    31.80    13.40    22.60  0.00      24.30
28     1900         29 1900-01-29    31.80    13.40    22.60  0.00      24.30
29     1900         30 1900-01-30    31.80    13.40    22.60  0.00      24.30
...     ...        ...        ...      ...      ...      ...   ...        ...
43008  2017        275 2017-10-02    27.10    10.00    18.55  0.00      26.70
43009  2017        276 2017-10-03    23.10    11.80    17.45  0.00      26.70
43010  2017        277 2017-10-04    24.00    11.90    17.95  0.00      26.70
43011  2017        278 2017-10-05    27.00    10.90    18.95  0.00      26.70
43012  2017        279 2017-10-06    25.80    12.40    19.10  0.00      26.70
43013  2017        280 2017-10-07    18.70     9.50    14.10  1.70      26.70
43014  2017        281 2017-10-08    21.80    11.30    16.55  0.00      26.70
43015  2017        282 2017-10-09    24.40     9.10    16.75  0.00      26.70
43016  2017        283 2017-10-10    20.40    11.70    16.05  0.00      26.70
43017  2017        284 2017-10-11    23.30    10.60    16.95  0.30      26.70
43018  2017        285 2017-10-12    27.60    10.70    19.15  0.00      26.70
43019  2017        286 2017-10-13    25.30    10.40    17.85  0.00      26.70
43020  2017        287 2017-10-14    23.50    14.90    19.20  0.00      26.70
43021  2017        288 2017-10-15    22.80    12.40    17.60  0.00      26.70
43022  2017        289 2017-10-16    20.50    16.90    18.70  2.90      26.70
43023  2017        290 2017-10-17    21.20    14.90    18.05  2.40      26.70
43024  2017        291 2017-10-18    22.10    13.90    18.00  0.80      26.70
43025  2017        292 2017-10-19    29.60     9.30    19.45  0.00      26.70
43026  2017        293 2017-10-20    36.50    13.20    24.85  0.00      26.70
43027  2017        294 2017-10-21    25.70    20.20    22.95  0.00      26.70
43028  2017        295 2017-10-22    22.40    19.00    20.70  0.00      26.70
43029  2017        296 2017-10-23    23.10    19.40    21.25  0.00      26.70
43030  2017        297 2017-10-24    23.60    12.70    18.15  0.00      26.70
43031  2017        298 2017-10-25    25.20    10.20    17.70  0.00      26.70
43032  2017        299 2017-10-26    22.90    14.00    18.45  0.00      26.70
43033  2017        300 2017-10-27    22.60    12.20    17.40  0.00      26.70
43034  2017        301 2017-10-28    20.60    15.70    18.15  0.00      26.70
43035  2017        302 2017-10-29    25.30    17.50    21.40  0.10      26.70
43036  2017        303 2017-10-30    25.10    11.50    18.30  0.00      26.70
43037  2017        304 2017-10-31    25.20    18.20    21.70  0.00      26.70

[43038 rows x 8 columns]

### Now need to merge the report data with the weather data

In [20]:
#dfReport.runDate = pd.to_datetime(dfReport.runDate, format="%Y-%m-%d")
dfCombined = dfReport.merge(metData, on='runDate', how='left')
print(dfCombined.shape)
dfCombined

(46093698, 16)

,runDate,LeafLAI,AboveGroundWeight,GrainWeight,ZadokStage,WaterSupplyDemandRatio,RootNUptake,LeafFn,SimID,year,dayofYear,maxTemp,minTemp,avgTemp,rain,radiation
0,1900-01-01,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,1,31.80,13.40,22.60,0.00,24.30
1,1900-01-01,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,1,31.80,13.40,22.60,0.00,24.30
2,1900-01-02,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,2,31.80,13.40,22.60,0.00,24.30
3,1900-01-02,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,2,31.80,13.40,22.60,0.00,24.30
4,1900-01-03,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,3,31.80,13.40,22.60,0.00,24.30
5,1900-01-03,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,3,31.80,13.40,22.60,0.00,24.30
6,1900-01-04,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,4,31.80,13.40,22.60,0.00,24.30
7,1900-01-04,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,4,31.80,13.40,22.60,0.00,24.30
8,1900-01-05,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,5,31.80,13.40,22.60,0.00,24.30
9,1900-01-05,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,5,31.80,13.40,22.60,0.00,24.30
10,1900-01-06,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,6,31.80,13.40,22.60,0.00,24.30
11,1900-01-06,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,6,31.80,13.40,22.60,0.00,24.30
12,1900-01-07,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,7,31.80,13.40,22.60,0.00,24.30
13,1900-01-07,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,7,31.80,13.40,22.60,0.00,24.30
14,1900-01-08,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,8,31.80,13.40,22.60,0.00,24.30
15,1900-01-08,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,8,31.80,13.40,22.60,0.00,24.30
16,1900-01-09,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,9,31.80,13.40,22.60,0.00,24.30
17,1900-01-09,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,9,31.80,13.40,22.60,0.00,24.30
18,1900-01-10,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,10,31.80,13.40,22.60,0.00,24.30
19,1900-01-10,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,10,31.80,13.40,22.60,0.00,24.30
20,1900-01-11,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,11,31.80,13.40,22.60,0.00,24.30
21,1900-01-11,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,11,31.80,13.40,22.60,0.00,24.30
22,1900-01-12,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,12,31.80,13.40,22.60,0.00,24.30
23,1900-01-12,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,12,31.80,13.40,22.60,0.00,24.30
24,1900-01-13,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,13,31.80,13.40,22.60,0.00,24.30
25,1900-01-13,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,13,31.80,13.40,22.60,0.00,24.30
26,1900-01-14,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,14,31.80,13.40,22.60,0.00,24.30
27,1900-01-14,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,14,31.80,13.40,22.60,0.00,24.30
28,1900-01-15,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,15,31.80,13.40,22.60,0.00,24.30
29,1900-01-15,0.00,0.00,0.00,0.00,1.00,0.00,0.00,1,1900,15,31.80,13.40,22.60,0.00,24.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46093668,2017-10-02,3.62,966.21,0.00,47.85,1.00,-2.37,1.00,1070,2017,275,27.10,10.00,18.55,0.00,26.70
46093669,2017-10-03,3.62,993.02,0.00,49.37,1.00,-2.72,1.00,1070,2017,276,23.10,11.80,17.45,0.00,26.70
46093670,2017-10-04,3.62,"1,019.39",0.00,50.98,1.00,-3.26,1.00,1070,2017,277,24.00,11.90,17.95,0.00,26.70
46093671,2017-10-05,3.62,"1,041.80",0.00,52.79,1.00,-2.82,1.00,1070,2017,278,27.00,10.90,18.95,0.00,26.70
46093672,2017-10-06,3.62,"1,066.45",0.00,54.61,1.00,-2.30,1.00,1070,2017,279,25.80,12.40,19.10,0.00,26.70
46093673,2017-10-07,3.62,"1,091.97",0.00,55.58,1.00,-3.06,1.00,1070,2017,280,18.70,9.50,14.10,1.70,26.70
46093674,2017-10-08,3.62,"1,118.78",0.00,56.95,1.00,-3.08,1.00,1070,2017,281,21.80,11.30,16.55,0.00,26.70
46093675,2017-10-09,3.62,"1,143.32",0.00,58.40,1.00,-2.92,1.00,1070,2017,282,24.40,9.10,16.75,0.00,26.70
46093676,2017-10-10,3.62,"1,169.92",0.00,59.66,1.00,-2.80,1.00,1070,2017,283,20.40,11.70,16.05,0.00,26.70
46093677,2017-10-11,3.62,"1,196.33",0.00,61.11,1.00,-2.84,1.00,1070,2017,284,23.30,10.60,16.95,0.30,26.70
46093678,2017-10-12,3.62,"1,217.89",0.00,62.96,1.00,-2.21,1.00,1070,2017,285,27.60,10.70,19.15,0.00,26.70
46093679,2017-10-13,3.62,"1,242.06",0.00,64.58,1.00,-1.79,1.00,1070,2017,286,25.30,10.40,17.85,0.00,26.70
46093680,2017-10-14,3.62,"1,268.68",8.93,65.60,1.00,-3.74,1.00,1070,2017,287,23.50,14.90,19.20,0.00,26.70
46093681,2017-10-15,3.62,"1,295.49",16.91,66.27,1.00,-3.31,1.00,1070,2017,288,22.80,12.40,17.60,0.00,26.70
46093682,2017-10-16,3.62,"1,322.30",25.67,67.00,1.00,-2.99,1.00,1070,2017,289,20.50,16.90,18.70,2.90,26.70
46093683,2017-10-17,3.62,"1,349.11",34.01,67.69,1.00,-2.72,1.00,1070,2017,290,21.20,14.90,18.05,2.40,26.70
46093684,2017-10-18,3.62,"1,375.92",42.27,68.38,1.00,-2.49,1.00,1070,2017,291,22.10,13.90,18.00,0.80,26.70
46093685,2017-10-19,3.62,"1,394.12",50.60,69.21,1.00,-2.25,1.00,1070,2017,292,29.60,9.30,19.45,0.00,26.70
46093686,2017-10-20,3.62,"1,402.84",59.31,70.32,1.00,-2.05,1.00,1070,2017,293,36.50,13.20,24.85,0.00,26.70
46093687,2017-10-21,3.62,"1,427.69",104.45,71.24,1.00,-1.94,1.00,1070,2017,294,25.70,20.20,22.95,0.00,26.70
46093688,2017-10-22,3.62,"1,454.20",145.68,71.76,1.00,-1.82,1.00,1070,2017,295,22.40,19.00,20.70,0.00,26.70
46093689,2017-10-23,3.62,"1,480.38",188.01,72.32,1.00,-1.70,1.00,1070,2017,296,23.10,19.40,21.25,0.00,26.70
46093690,2017-10-24,3.62,"1,507.19",222.64,72.73,1.00,-1.62,1.00,1070,2017,297,23.60,12.70,18.15,0.00,26.70
46093691,2017-10-25,3.62,"1,531.37",255.62,73.14,1.00,-1.52,1.00,1070,2017,298,25.20,10.20,17.70,0.00,26.70
46093692,2017-10-26,3.62,"1,558.18",291.20,73.57,1.00,-1.43,1.00,1070,2017,299,22.90,14.00,18.45,0.00,26.70
46093693,2017-10-27,3.62,"1,584.99",324.13,73.95,1.00,-1.36,1.00,1070,2017,300,22.60,12.20,17.40,0.00,26.70
46093694,2017-10-28,3.62,"1,611.80",359.35,74.36,1.00,-1.30,1.00,1070,2017,301,20.60,15.70,18.15,0.00,26.70
46093695,2017-10-29,3.62,"1,637.35",401.39,74.92,1.00,-1.22,1.00,1070,2017,302,25.30,17.50,21.40,0.10,26.70
46093696,2017-10-30,3.62,"1,662.31",435.91,75.35,1.00,-1.17,1.00,1070,2017,303,25.10,11.50,18.30,0.00,26.70
46093697,2017-10-31,3.62,"1,687.80",478.66,75.92,1.00,-1.12,1.00,1070,2017,304,25.20,18.20,21.70,0.00,26.70

In [21]:
#dfCombined = pd.DataFrame(dfCombined)
filterCols = ['SimID', 'runDate', 'ZadokStage', 'avgTemp']
subData = dfCombined[filterCols]
subData

          SimID    runDate  ZadokStage  avgTemp
0             1 1900-01-01        0.00    22.60
1             1 1900-01-01        0.00    22.60
2             1 1900-01-02        0.00    22.60
3             1 1900-01-02        0.00    22.60
4             1 1900-01-03        0.00    22.60
5             1 1900-01-03        0.00    22.60
6             1 1900-01-04        0.00    22.60
7             1 1900-01-04        0.00    22.60
8             1 1900-01-05        0.00    22.60
9             1 1900-01-05        0.00    22.60
10            1 1900-01-06        0.00    22.60
11            1 1900-01-06        0.00    22.60
12            1 1900-01-07        0.00    22.60
13            1 1900-01-07        0.00    22.60
14            1 1900-01-08        0.00    22.60
15            1 1900-01-08        0.00    22.60
16            1 1900-01-09        0.00    22.60
17            1 1900-01-09        0.00    22.60
18            1 1900-01-10        0.00    22.60
19            1 1900-01-10        0.00    22.60
20            1 1900-01-11        0.00    22.60
21            1 1900-01-11        0.00    22.60
22            1 1900-01-12        0.00    22.60
23            1 1900-01-12        0.00    22.60
24            1 1900-01-13        0.00    22.60
25            1 1900-01-13        0.00    22.60
26            1 1900-01-14        0.00    22.60
27            1 1900-01-14        0.00    22.60
28            1 1900-01-15        0.00    22.60
29            1 1900-01-15        0.00    22.60
...         ...        ...         ...      ...
46093668   1070 2017-10-02       47.85    18.55
46093669   1070 2017-10-03       49.37    17.45
46093670   1070 2017-10-04       50.98    17.95
46093671   1070 2017-10-05       52.79    18.95
46093672   1070 2017-10-06       54.61    19.10
46093673   1070 2017-10-07       55.58    14.10
46093674   1070 2017-10-08       56.95    16.55
46093675   1070 2017-10-09       58.40    16.75
46093676   1070 2017-10-10       59.66    16.05
46093677   1070 2017-10-11       61.11    16.95
46093678   1070 2017-10-12       62.96    19.15
46093679   1070 2017-10-13       64.58    17.85
46093680   1070 2017-10-14       65.60    19.20
46093681   1070 2017-10-15       66.27    17.60
46093682   1070 2017-10-16       67.00    18.70
46093683   1070 2017-10-17       67.69    18.05
46093684   1070 2017-10-18       68.38    18.00
46093685   1070 2017-10-19       69.21    19.45
46093686   1070 2017-10-20       70.32    24.85
46093687   1070 2017-10-21       71.24    22.95
46093688   1070 2017-10-22       71.76    20.70
46093689   1070 2017-10-23       72.32    21.25
46093690   1070 2017-10-24       72.73    18.15
46093691   1070 2017-10-25       73.14    17.70
46093692   1070 2017-10-26       73.57    18.45
46093693   1070 2017-10-27       73.95    17.40
46093694   1070 2017-10-28       74.36    18.15
46093695   1070 2017-10-29       74.92    21.40
46093696   1070 2017-10-30       75.35    18.30
46093697   1070 2017-10-31       75.92    21.70

[46093698 rows x 4 columns]

### Now add back the simulation details so that we can get sowdate for each simulation

In [22]:
#dfSim
subData = subData.merge(dfSim, on="SimID", how='left')
subData

,SimID,runDate,ZadokStage,avgTemp,Name,long,lat,variety,sowdate
0,1,1900-01-01,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
1,1,1900-01-01,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
2,1,1900-01-02,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
3,1,1900-01-02,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
4,1,1900-01-03,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
5,1,1900-01-03,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
6,1,1900-01-04,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
7,1,1900-01-04,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
8,1,1900-01-05,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
9,1,1900-01-05,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
10,1,1900-01-06,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
11,1,1900-01-06,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
12,1,1900-01-07,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
13,1,1900-01-07,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
14,1,1900-01-08,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
15,1,1900-01-08,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
16,1,1900-01-09,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
17,1,1900-01-09,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
18,1,1900-01-10,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
19,1,1900-01-10,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
20,1,1900-01-11,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
21,1,1900-01-11,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
22,1,1900-01-12,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
23,1,1900-01-12,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
24,1,1900-01-13,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
25,1,1900-01-13,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
26,1,1900-01-14,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
27,1,1900-01-14,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
28,1,1900-01-15,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
29,1,1900-01-15,0.00,22.60,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul
...,...,...,...,...,...,...,...,...,...
46093668,1070,2017-10-02,47.85,18.55,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093669,1070,2017-10-03,49.37,17.45,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093670,1070,2017-10-04,50.98,17.95,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093671,1070,2017-10-05,52.79,18.95,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093672,1070,2017-10-06,54.61,19.10,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093673,1070,2017-10-07,55.58,14.10,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093674,1070,2017-10-08,56.95,16.55,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093675,1070,2017-10-09,58.40,16.75,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093676,1070,2017-10-10,59.66,16.05,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093677,1070,2017-10-11,61.11,16.95,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093678,1070,2017-10-12,62.96,19.15,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093679,1070,2017-10-13,64.58,17.85,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093680,1070,2017-10-14,65.60,19.20,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093681,1070,2017-10-15,66.27,17.60,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093682,1070,2017-10-16,67.00,18.70,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093683,1070,2017-10-17,67.69,18.05,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093684,1070,2017-10-18,68.38,18.00,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093685,1070,2017-10-19,69.21,19.45,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093686,1070,2017-10-20,70.32,24.85,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093687,1070,2017-10-21,71.24,22.95,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093688,1070,2017-10-22,71.76,20.70,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093689,1070,2017-10-23,72.32,21.25,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093690,1070,2017-10-24,72.73,18.15,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093691,1070,2017-10-25,73.14,17.70,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093692,1070,2017-10-26,73.57,18.45,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093693,1070,2017-10-27,73.95,17.40,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093694,1070,2017-10-28,74.36,18.15,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093695,1070,2017-10-29,74.92,21.40,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093696,1070,2017-10-30,75.35,18.30,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul
46093697,1070,2017-10-31,75.92,21.70,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul

In [23]:
#get a subset of the data
filterCols = ['SimID', 'runDate', 'ZadokStage', 'avgTemp', 'sowdate']
subData = subData[filterCols]
subData

          SimID    runDate  ZadokStage  avgTemp sowdate
0             1 1900-01-01        0.00    22.60  29-jul
1             1 1900-01-01        0.00    22.60  29-jul
2             1 1900-01-02        0.00    22.60  29-jul
3             1 1900-01-02        0.00    22.60  29-jul
4             1 1900-01-03        0.00    22.60  29-jul
5             1 1900-01-03        0.00    22.60  29-jul
6             1 1900-01-04        0.00    22.60  29-jul
7             1 1900-01-04        0.00    22.60  29-jul
8             1 1900-01-05        0.00    22.60  29-jul
9             1 1900-01-05        0.00    22.60  29-jul
10            1 1900-01-06        0.00    22.60  29-jul
11            1 1900-01-06        0.00    22.60  29-jul
12            1 1900-01-07        0.00    22.60  29-jul
13            1 1900-01-07        0.00    22.60  29-jul
14            1 1900-01-08        0.00    22.60  29-jul
15            1 1900-01-08        0.00    22.60  29-jul
16            1 1900-01-09        0.00    22.60  29-jul
17            1 1900-01-09        0.00    22.60  29-jul
18            1 1900-01-10        0.00    22.60  29-jul
19            1 1900-01-10        0.00    22.60  29-jul
20            1 1900-01-11        0.00    22.60  29-jul
21            1 1900-01-11        0.00    22.60  29-jul
22            1 1900-01-12        0.00    22.60  29-jul
23            1 1900-01-12        0.00    22.60  29-jul
24            1 1900-01-13        0.00    22.60  29-jul
25            1 1900-01-13        0.00    22.60  29-jul
26            1 1900-01-14        0.00    22.60  29-jul
27            1 1900-01-14        0.00    22.60  29-jul
28            1 1900-01-15        0.00    22.60  29-jul
29            1 1900-01-15        0.00    22.60  29-jul
...         ...        ...         ...      ...     ...
46093668   1070 2017-10-02       47.85    18.55  29-jul
46093669   1070 2017-10-03       49.37    17.45  29-jul
46093670   1070 2017-10-04       50.98    17.95  29-jul
46093671   1070 2017-10-05       52.79    18.95  29-jul
46093672   1070 2017-10-06       54.61    19.10  29-jul
46093673   1070 2017-10-07       55.58    14.10  29-jul
46093674   1070 2017-10-08       56.95    16.55  29-jul
46093675   1070 2017-10-09       58.40    16.75  29-jul
46093676   1070 2017-10-10       59.66    16.05  29-jul
46093677   1070 2017-10-11       61.11    16.95  29-jul
46093678   1070 2017-10-12       62.96    19.15  29-jul
46093679   1070 2017-10-13       64.58    17.85  29-jul
46093680   1070 2017-10-14       65.60    19.20  29-jul
46093681   1070 2017-10-15       66.27    17.60  29-jul
46093682   1070 2017-10-16       67.00    18.70  29-jul
46093683   1070 2017-10-17       67.69    18.05  29-jul
46093684   1070 2017-10-18       68.38    18.00  29-jul
46093685   1070 2017-10-19       69.21    19.45  29-jul
46093686   1070 2017-10-20       70.32    24.85  29-jul
46093687   1070 2017-10-21       71.24    22.95  29-jul
46093688   1070 2017-10-22       71.76    20.70  29-jul
46093689   1070 2017-10-23       72.32    21.25  29-jul
46093690   1070 2017-10-24       72.73    18.15  29-jul
46093691   1070 2017-10-25       73.14    17.70  29-jul
46093692   1070 2017-10-26       73.57    18.45  29-jul
46093693   1070 2017-10-27       73.95    17.40  29-jul
46093694   1070 2017-10-28       74.36    18.15  29-jul
46093695   1070 2017-10-29       74.92    21.40  29-jul
46093696   1070 2017-10-30       75.35    18.30  29-jul
46093697   1070 2017-10-31       75.92    21.70  29-jul

[46093698 rows x 5 columns]

In [24]:
#how to drop a single column
#subData.drop('date1', axis=1)

#not sure which is the quickest way to do this:
subData['sowingdate'] = subData['sowdate'] + '-' + subData['runDate'].dt.year.map(str)
subData['sowingdate'] = pd.to_datetime(subData['sowingdate'], format="%d-%b-%Y")
#or
#subData.runDate = pd.to_datetime(subData.runDate, format="%d/%m/%Y")
#subData['runDate'] = pd.to_datetime(subData['runDate']).apply(lambda x:x.strftime('%d/%m/%Y'))
#subData['sowingdate'] = pd.to_datetime(subData.sowdate.astype(str).str.cat(subData.runDate.dt.year.map(str), sep='-'), format="%d-%b-%Y")

#This is used if we want to format the date ddifferently
#subData['sowingdate'] = pd.to_datetime(subData['sowingdate']).apply(lambda x:x.strftime('%d/%m/%Y'))
subData

/apps/python/3.6.1/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/apps/python/3.6.1/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

          SimID    runDate  ZadokStage  avgTemp sowdate sowingdate
0             1 1900-01-01        0.00    22.60  29-jul 1900-07-29
1             1 1900-01-01        0.00    22.60  29-jul 1900-07-29
2             1 1900-01-02        0.00    22.60  29-jul 1900-07-29
3             1 1900-01-02        0.00    22.60  29-jul 1900-07-29
4             1 1900-01-03        0.00    22.60  29-jul 1900-07-29
5             1 1900-01-03        0.00    22.60  29-jul 1900-07-29
6             1 1900-01-04        0.00    22.60  29-jul 1900-07-29
7             1 1900-01-04        0.00    22.60  29-jul 1900-07-29
8             1 1900-01-05        0.00    22.60  29-jul 1900-07-29
9             1 1900-01-05        0.00    22.60  29-jul 1900-07-29
10            1 1900-01-06        0.00    22.60  29-jul 1900-07-29
11            1 1900-01-06        0.00    22.60  29-jul 1900-07-29
12            1 1900-01-07        0.00    22.60  29-jul 1900-07-29
13            1 1900-01-07        0.00    22.60  29-jul 1900-07-29
14            1 1900-01-08        0.00    22.60  29-jul 1900-07-29
15            1 1900-01-08        0.00    22.60  29-jul 1900-07-29
16            1 1900-01-09        0.00    22.60  29-jul 1900-07-29
17            1 1900-01-09        0.00    22.60  29-jul 1900-07-29
18            1 1900-01-10        0.00    22.60  29-jul 1900-07-29
19            1 1900-01-10        0.00    22.60  29-jul 1900-07-29
20            1 1900-01-11        0.00    22.60  29-jul 1900-07-29
21            1 1900-01-11        0.00    22.60  29-jul 1900-07-29
22            1 1900-01-12        0.00    22.60  29-jul 1900-07-29
23            1 1900-01-12        0.00    22.60  29-jul 1900-07-29
24            1 1900-01-13        0.00    22.60  29-jul 1900-07-29
25            1 1900-01-13        0.00    22.60  29-jul 1900-07-29
26            1 1900-01-14        0.00    22.60  29-jul 1900-07-29
27            1 1900-01-14        0.00    22.60  29-jul 1900-07-29
28            1 1900-01-15        0.00    22.60  29-jul 1900-07-29
29            1 1900-01-15        0.00    22.60  29-jul 1900-07-29
...         ...        ...         ...      ...     ...        ...
46093668   1070 2017-10-02       47.85    18.55  29-jul 2017-07-29
46093669   1070 2017-10-03       49.37    17.45  29-jul 2017-07-29
46093670   1070 2017-10-04       50.98    17.95  29-jul 2017-07-29
46093671   1070 2017-10-05       52.79    18.95  29-jul 2017-07-29
46093672   1070 2017-10-06       54.61    19.10  29-jul 2017-07-29
46093673   1070 2017-10-07       55.58    14.10  29-jul 2017-07-29
46093674   1070 2017-10-08       56.95    16.55  29-jul 2017-07-29
46093675   1070 2017-10-09       58.40    16.75  29-jul 2017-07-29
46093676   1070 2017-10-10       59.66    16.05  29-jul 2017-07-29
46093677   1070 2017-10-11       61.11    16.95  29-jul 2017-07-29
46093678   1070 2017-10-12       62.96    19.15  29-jul 2017-07-29
46093679   1070 2017-10-13       64.58    17.85  29-jul 2017-07-29
46093680   1070 2017-10-14       65.60    19.20  29-jul 2017-07-29
46093681   1070 2017-10-15       66.27    17.60  29-jul 2017-07-29
46093682   1070 2017-10-16       67.00    18.70  29-jul 2017-07-29
46093683   1070 2017-10-17       67.69    18.05  29-jul 2017-07-29
46093684   1070 2017-10-18       68.38    18.00  29-jul 2017-07-29
46093685   1070 2017-10-19       69.21    19.45  29-jul 2017-07-29
46093686   1070 2017-10-20       70.32    24.85  29-jul 2017-07-29
46093687   1070 2017-10-21       71.24    22.95  29-jul 2017-07-29
46093688   1070 2017-10-22       71.76    20.70  29-jul 2017-07-29
46093689   1070 2017-10-23       72.32    21.25  29-jul 2017-07-29
46093690   1070 2017-10-24       72.73    18.15  29-jul 2017-07-29
46093691   1070 2017-10-25       73.14    17.70  29-jul 2017-07-29
46093692   1070 2017-10-26       73.57    18.45  29-jul 2017-07-29
46093693   1070 2017-10-27       73.95    17.40  29-jul 2017-07-29
46093694   1070 2017-10-28       74.36    18.15  29-jul 2017-07-29
46093695   1070 2017-10-29       74.92    21.40  29-jul 2017-07-29
46093696   1070 2017-10-30       75.35    18.30  29-jul 2017-07-29
46093697   1070 2017-10-31       75.92    21.70  29-jul 2017-07-29

[46093698 rows x 6 columns]

### now calculate the cumulative temp info for each simulation

For each SimId, cumulative add the avgt (average Temperature) values between the sowdate and the current date (where the date is > sowdate and the ZadokStage < 70

In [25]:
# Create a copy of the current dataframe so that it can be reset easily
dfSub2 = subData.copy()
dfSub2

          SimID    runDate  ZadokStage  avgTemp sowdate sowingdate
0             1 1900-01-01        0.00    22.60  29-jul 1900-07-29
1             1 1900-01-01        0.00    22.60  29-jul 1900-07-29
2             1 1900-01-02        0.00    22.60  29-jul 1900-07-29
3             1 1900-01-02        0.00    22.60  29-jul 1900-07-29
4             1 1900-01-03        0.00    22.60  29-jul 1900-07-29
5             1 1900-01-03        0.00    22.60  29-jul 1900-07-29
6             1 1900-01-04        0.00    22.60  29-jul 1900-07-29
7             1 1900-01-04        0.00    22.60  29-jul 1900-07-29
8             1 1900-01-05        0.00    22.60  29-jul 1900-07-29
9             1 1900-01-05        0.00    22.60  29-jul 1900-07-29
10            1 1900-01-06        0.00    22.60  29-jul 1900-07-29
11            1 1900-01-06        0.00    22.60  29-jul 1900-07-29
12            1 1900-01-07        0.00    22.60  29-jul 1900-07-29
13            1 1900-01-07        0.00    22.60  29-jul 1900-07-29
14            1 1900-01-08        0.00    22.60  29-jul 1900-07-29
15            1 1900-01-08        0.00    22.60  29-jul 1900-07-29
16            1 1900-01-09        0.00    22.60  29-jul 1900-07-29
17            1 1900-01-09        0.00    22.60  29-jul 1900-07-29
18            1 1900-01-10        0.00    22.60  29-jul 1900-07-29
19            1 1900-01-10        0.00    22.60  29-jul 1900-07-29
20            1 1900-01-11        0.00    22.60  29-jul 1900-07-29
21            1 1900-01-11        0.00    22.60  29-jul 1900-07-29
22            1 1900-01-12        0.00    22.60  29-jul 1900-07-29
23            1 1900-01-12        0.00    22.60  29-jul 1900-07-29
24            1 1900-01-13        0.00    22.60  29-jul 1900-07-29
25            1 1900-01-13        0.00    22.60  29-jul 1900-07-29
26            1 1900-01-14        0.00    22.60  29-jul 1900-07-29
27            1 1900-01-14        0.00    22.60  29-jul 1900-07-29
28            1 1900-01-15        0.00    22.60  29-jul 1900-07-29
29            1 1900-01-15        0.00    22.60  29-jul 1900-07-29
...         ...        ...         ...      ...     ...        ...
46093668   1070 2017-10-02       47.85    18.55  29-jul 2017-07-29
46093669   1070 2017-10-03       49.37    17.45  29-jul 2017-07-29
46093670   1070 2017-10-04       50.98    17.95  29-jul 2017-07-29
46093671   1070 2017-10-05       52.79    18.95  29-jul 2017-07-29
46093672   1070 2017-10-06       54.61    19.10  29-jul 2017-07-29
46093673   1070 2017-10-07       55.58    14.10  29-jul 2017-07-29
46093674   1070 2017-10-08       56.95    16.55  29-jul 2017-07-29
46093675   1070 2017-10-09       58.40    16.75  29-jul 2017-07-29
46093676   1070 2017-10-10       59.66    16.05  29-jul 2017-07-29
46093677   1070 2017-10-11       61.11    16.95  29-jul 2017-07-29
46093678   1070 2017-10-12       62.96    19.15  29-jul 2017-07-29
46093679   1070 2017-10-13       64.58    17.85  29-jul 2017-07-29
46093680   1070 2017-10-14       65.60    19.20  29-jul 2017-07-29
46093681   1070 2017-10-15       66.27    17.60  29-jul 2017-07-29
46093682   1070 2017-10-16       67.00    18.70  29-jul 2017-07-29
46093683   1070 2017-10-17       67.69    18.05  29-jul 2017-07-29
46093684   1070 2017-10-18       68.38    18.00  29-jul 2017-07-29
46093685   1070 2017-10-19       69.21    19.45  29-jul 2017-07-29
46093686   1070 2017-10-20       70.32    24.85  29-jul 2017-07-29
46093687   1070 2017-10-21       71.24    22.95  29-jul 2017-07-29
46093688   1070 2017-10-22       71.76    20.70  29-jul 2017-07-29
46093689   1070 2017-10-23       72.32    21.25  29-jul 2017-07-29
46093690   1070 2017-10-24       72.73    18.15  29-jul 2017-07-29
46093691   1070 2017-10-25       73.14    17.70  29-jul 2017-07-29
46093692   1070 2017-10-26       73.57    18.45  29-jul 2017-07-29
46093693   1070 2017-10-27       73.95    17.40  29-jul 2017-07-29
46093694   1070 2017-10-28       74.36    18.15  29-jul 2017-07-29
46093695   1070 2017-10-29       74.92    21.40  29-jul 2017-07-29
46093696   1070 2017-10-30       75.35    18.30  29-jul 2017-07-29
46093697   1070 2017-10-31       75.92    21.70  29-jul 2017-07-29

[46093698 rows x 6 columns]

In [ ]:
#save this to a csv, so we can view elsewhere
#outCols = ['SimID', 'sowdate', 'sowingdate', 'runDate', 'ZadokStage', 'avgt']
#outSub = dfSub2[outCols]
#filename = apsim_outfiledir + "/sim57_zadok.csv"
#outSub.to_csv(filename, encoding='utf-8', index=False)

In [26]:
dfSub2['tempavgTemp'] = dfSub2['avgTemp'].where((dfSub2['runDate'] >= dfSub2['sowingdate']) & (dfSub2['ZadokStage'] > 0) & (dfSub2['ZadokStage'] <= 70), 0)
dfSub2['cumAvgTemp'] = dfSub2.groupby(by=['SimID','sowingdate'])['tempavgTemp'].cumsum()
dfSub2

,SimID,runDate,ZadokStage,avgTemp,sowdate,sowingdate,tempavgTemp,cumAvgTemp
0,1,1900-01-01,0.00,22.60,29-jul,1900-07-29,0.00,0.00
1,1,1900-01-01,0.00,22.60,29-jul,1900-07-29,0.00,0.00
2,1,1900-01-02,0.00,22.60,29-jul,1900-07-29,0.00,0.00
3,1,1900-01-02,0.00,22.60,29-jul,1900-07-29,0.00,0.00
4,1,1900-01-03,0.00,22.60,29-jul,1900-07-29,0.00,0.00
5,1,1900-01-03,0.00,22.60,29-jul,1900-07-29,0.00,0.00
6,1,1900-01-04,0.00,22.60,29-jul,1900-07-29,0.00,0.00
7,1,1900-01-04,0.00,22.60,29-jul,1900-07-29,0.00,0.00
8,1,1900-01-05,0.00,22.60,29-jul,1900-07-29,0.00,0.00
9,1,1900-01-05,0.00,22.60,29-jul,1900-07-29,0.00,0.00
10,1,1900-01-06,0.00,22.60,29-jul,1900-07-29,0.00,0.00
11,1,1900-01-06,0.00,22.60,29-jul,1900-07-29,0.00,0.00
12,1,1900-01-07,0.00,22.60,29-jul,1900-07-29,0.00,0.00
13,1,1900-01-07,0.00,22.60,29-jul,1900-07-29,0.00,0.00
14,1,1900-01-08,0.00,22.60,29-jul,1900-07-29,0.00,0.00
15,1,1900-01-08,0.00,22.60,29-jul,1900-07-29,0.00,0.00
16,1,1900-01-09,0.00,22.60,29-jul,1900-07-29,0.00,0.00
17,1,1900-01-09,0.00,22.60,29-jul,1900-07-29,0.00,0.00
18,1,1900-01-10,0.00,22.60,29-jul,1900-07-29,0.00,0.00
19,1,1900-01-10,0.00,22.60,29-jul,1900-07-29,0.00,0.00
20,1,1900-01-11,0.00,22.60,29-jul,1900-07-29,0.00,0.00
21,1,1900-01-11,0.00,22.60,29-jul,1900-07-29,0.00,0.00
22,1,1900-01-12,0.00,22.60,29-jul,1900-07-29,0.00,0.00
23,1,1900-01-12,0.00,22.60,29-jul,1900-07-29,0.00,0.00
24,1,1900-01-13,0.00,22.60,29-jul,1900-07-29,0.00,0.00
25,1,1900-01-13,0.00,22.60,29-jul,1900-07-29,0.00,0.00
26,1,1900-01-14,0.00,22.60,29-jul,1900-07-29,0.00,0.00
27,1,1900-01-14,0.00,22.60,29-jul,1900-07-29,0.00,0.00
28,1,1900-01-15,0.00,22.60,29-jul,1900-07-29,0.00,0.00
29,1,1900-01-15,0.00,22.60,29-jul,1900-07-29,0.00,0.00
...,...,...,...,...,...,...,...,...
46093668,1070,2017-10-02,47.85,18.55,29-jul,2017-07-29,18.55,"1,152.25"
46093669,1070,2017-10-03,49.37,17.45,29-jul,2017-07-29,17.45,"1,169.70"
46093670,1070,2017-10-04,50.98,17.95,29-jul,2017-07-29,17.95,"1,187.65"
46093671,1070,2017-10-05,52.79,18.95,29-jul,2017-07-29,18.95,"1,206.60"
46093672,1070,2017-10-06,54.61,19.10,29-jul,2017-07-29,19.10,"1,225.70"
46093673,1070,2017-10-07,55.58,14.10,29-jul,2017-07-29,14.10,"1,239.80"
46093674,1070,2017-10-08,56.95,16.55,29-jul,2017-07-29,16.55,"1,256.35"
46093675,1070,2017-10-09,58.40,16.75,29-jul,2017-07-29,16.75,"1,273.10"
46093676,1070,2017-10-10,59.66,16.05,29-jul,2017-07-29,16.05,"1,289.15"
46093677,1070,2017-10-11,61.11,16.95,29-jul,2017-07-29,16.95,"1,306.10"
46093678,1070,2017-10-12,62.96,19.15,29-jul,2017-07-29,19.15,"1,325.25"
46093679,1070,2017-10-13,64.58,17.85,29-jul,2017-07-29,17.85,"1,343.10"
46093680,1070,2017-10-14,65.60,19.20,29-jul,2017-07-29,19.20,"1,362.30"
46093681,1070,2017-10-15,66.27,17.60,29-jul,2017-07-29,17.60,"1,379.90"
46093682,1070,2017-10-16,67.00,18.70,29-jul,2017-07-29,18.70,"1,398.60"
46093683,1070,2017-10-17,67.69,18.05,29-jul,2017-07-29,18.05,"1,416.65"
46093684,1070,2017-10-18,68.38,18.00,29-jul,2017-07-29,18.00,"1,434.65"
46093685,1070,2017-10-19,69.21,19.45,29-jul,2017-07-29,19.45,"1,454.10"
46093686,1070,2017-10-20,70.32,24.85,29-jul,2017-07-29,0.00,"1,454.10"
46093687,1070,2017-10-21,71.24,22.95,29-jul,2017-07-29,0.00,"1,454.10"
46093688,1070,2017-10-22,71.76,20.70,29-jul,2017-07-29,0.00,"1,454.10"
46093689,1070,2017-10-23,72.32,21.25,29-jul,2017-07-29,0.00,"1,454.10"
46093690,1070,2017-10-24,72.73,18.15,29-jul,2017-07-29,0.00,"1,454.10"
46093691,1070,2017-10-25,73.14,17.70,29-jul,2017-07-29,0.00,"1,454.10"
46093692,1070,2017-10-26,73.57,18.45,29-jul,2017-07-29,0.00,"1,454.10"
46093693,1070,2017-10-27,73.95,17.40,29-jul,2017-07-29,0.00,"1,454.10"
46093694,1070,2017-10-28,74.36,18.15,29-jul,2017-07-29,0.00,"1,454.10"
46093695,1070,2017-10-29,74.92,21.40,29-jul,2017-07-29,0.00,"1,454.10"
46093696,1070,2017-10-30,75.35,18.30,29-jul,2017-07-29,0.00,"1,454.10"
46093697,1070,2017-10-31,75.92,21.70,29-jul,2017-07-29,0.00,"1,454.10"

In [27]:
newData = dfSub2[dfSub2['tempavgTemp'] > 0]
newData

,SimID,runDate,ZadokStage,avgTemp,sowdate,sowingdate,tempavgTemp,cumAvgTemp
418,1,1900-07-29,5.00,19.90,29-jul,1900-07-29,19.90,19.90
419,1,1900-07-29,5.00,19.90,29-jul,1900-07-29,19.90,39.80
420,1,1900-07-30,6.23,19.85,29-jul,1900-07-29,19.85,59.65
421,1,1900-07-30,6.23,19.85,29-jul,1900-07-29,19.85,79.50
422,1,1900-07-31,7.47,19.85,29-jul,1900-07-29,19.85,99.35
423,1,1900-07-31,7.47,19.85,29-jul,1900-07-29,19.85,119.20
424,1,1900-08-01,8.70,19.85,29-jul,1900-07-29,19.85,139.05
425,1,1900-08-01,8.70,19.85,29-jul,1900-07-29,19.85,158.90
426,1,1900-08-02,9.93,19.85,29-jul,1900-07-29,19.85,178.75
427,1,1900-08-02,9.93,19.85,29-jul,1900-07-29,19.85,198.60
428,1,1900-08-03,30.30,19.85,29-jul,1900-07-29,19.85,218.45
429,1,1900-08-03,30.30,19.85,29-jul,1900-07-29,19.85,238.30
430,1,1900-08-04,30.42,19.80,29-jul,1900-07-29,19.80,258.10
431,1,1900-08-04,30.42,19.80,29-jul,1900-07-29,19.80,277.90
432,1,1900-08-05,30.50,19.80,29-jul,1900-07-29,19.80,297.70
433,1,1900-08-05,30.50,19.80,29-jul,1900-07-29,19.80,317.50
434,1,1900-08-06,30.59,19.80,29-jul,1900-07-29,19.80,337.30
435,1,1900-08-06,30.59,19.80,29-jul,1900-07-29,19.80,357.10
436,1,1900-08-07,30.67,19.80,29-jul,1900-07-29,19.80,376.90
437,1,1900-08-07,30.67,19.80,29-jul,1900-07-29,19.80,396.70
438,1,1900-08-08,30.82,19.80,29-jul,1900-07-29,19.80,416.50
439,1,1900-08-08,30.82,19.80,29-jul,1900-07-29,19.80,436.30
440,1,1900-08-09,30.91,19.80,29-jul,1900-07-29,19.80,456.10
441,1,1900-08-09,30.91,19.80,29-jul,1900-07-29,19.80,475.90
442,1,1900-08-10,30.99,19.75,29-jul,1900-07-29,19.75,495.65
443,1,1900-08-10,30.99,19.75,29-jul,1900-07-29,19.75,515.40
444,1,1900-08-11,31.14,19.75,29-jul,1900-07-29,19.75,535.15
445,1,1900-08-11,31.14,19.75,29-jul,1900-07-29,19.75,554.90
446,1,1900-08-12,31.21,19.75,29-jul,1900-07-29,19.75,574.65
447,1,1900-08-12,31.21,19.75,29-jul,1900-07-29,19.75,594.40
...,...,...,...,...,...,...,...,...
46093656,1070,2017-09-20,35.11,19.05,29-jul,2017-07-29,19.05,944.40
46093657,1070,2017-09-21,35.86,19.25,29-jul,2017-07-29,19.25,963.65
46093658,1070,2017-09-22,36.62,19.60,29-jul,2017-07-29,19.60,983.25
46093659,1070,2017-09-23,37.41,19.10,29-jul,2017-07-29,19.10,"1,002.35"
46093660,1070,2017-09-24,38.16,16.15,29-jul,2017-07-29,16.15,"1,018.50"
46093661,1070,2017-09-25,38.77,16.25,29-jul,2017-07-29,16.25,"1,034.75"
46093662,1070,2017-09-26,39.00,15.50,29-jul,2017-07-29,15.50,"1,050.25"
46093663,1070,2017-09-27,40.04,14.60,29-jul,2017-07-29,14.60,"1,064.85"
46093664,1070,2017-09-28,41.05,14.35,29-jul,2017-07-29,14.35,"1,079.20"
46093665,1070,2017-09-29,42.21,14.95,29-jul,2017-07-29,14.95,"1,094.15"
46093666,1070,2017-09-30,43.92,18.40,29-jul,2017-07-29,18.40,"1,112.55"
46093667,1070,2017-10-01,46.10,21.15,29-jul,2017-07-29,21.15,"1,133.70"
46093668,1070,2017-10-02,47.85,18.55,29-jul,2017-07-29,18.55,"1,152.25"
46093669,1070,2017-10-03,49.37,17.45,29-jul,2017-07-29,17.45,"1,169.70"
46093670,1070,2017-10-04,50.98,17.95,29-jul,2017-07-29,17.95,"1,187.65"
46093671,1070,2017-10-05,52.79,18.95,29-jul,2017-07-29,18.95,"1,206.60"
46093672,1070,2017-10-06,54.61,19.10,29-jul,2017-07-29,19.10,"1,225.70"
46093673,1070,2017-10-07,55.58,14.10,29-jul,2017-07-29,14.10,"1,239.80"
46093674,1070,2017-10-08,56.95,16.55,29-jul,2017-07-29,16.55,"1,256.35"
46093675,1070,2017-10-09,58.40,16.75,29-jul,2017-07-29,16.75,"1,273.10"
46093676,1070,2017-10-10,59.66,16.05,29-jul,2017-07-29,16.05,"1,289.15"
46093677,1070,2017-10-11,61.11,16.95,29-jul,2017-07-29,16.95,"1,306.10"
46093678,1070,2017-10-12,62.96,19.15,29-jul,2017-07-29,19.15,"1,325.25"
46093679,1070,2017-10-13,64.58,17.85,29-jul,2017-07-29,17.85,"1,343.10"
46093680,1070,2017-10-14,65.60,19.20,29-jul,2017-07-29,19.20,"1,362.30"
46093681,1070,2017-10-15,66.27,17.60,29-jul,2017-07-29,17.60,"1,379.90"
46093682,1070,2017-10-16,67.00,18.70,29-jul,2017-07-29,18.70,"1,398.60"
46093683,1070,2017-10-17,67.69,18.05,29-jul,2017-07-29,18.05,"1,416.65"
46093684,1070,2017-10-18,68.38,18.00,29-jul,2017-07-29,18.00,"1,434.65"
46093685,1070,2017-10-19,69.21,19.45,29-jul,2017-07-29,19.45,"1,454.10"

In [ ]:
#newData3 = newData.groupby(['SimID','sowingdate'])['cumAvgTemp'].max()
#newData3

In [28]:
newData4 = newData.groupby(['SimID','sowdate'])['cumAvgTemp'].max().reset_index()
newData4
#newData4['sowingdate'] = newData4.sowdate.dt.strftime('%d-%b')
#newData4

      SimID sowdate  cumAvgTemp
0         1  29-jul    2,914.80
1         2   1-apr    1,341.75
2         3   1-apr    1,697.30
3         4   1-apr    1,540.35
4         5   1-apr    1,414.75
5         6   1-apr    1,500.30
6         7   1-apr    1,612.40
7         8   1-apr    1,268.65
8         9   1-apr    1,447.95
9        10   1-apr    1,810.85
10       11   1-apr    1,621.65
11       12   1-apr    1,387.70
12       13   1-apr    1,540.35
13       14   1-apr    1,640.70
14       15   1-apr    1,669.00
15       16   1-apr    1,621.65
16       17   1-apr    1,725.65
17       18   1-apr    1,588.00
18       19   1-apr    1,573.65
19       20   1-apr    1,500.30
20       21   1-apr    1,447.95
21       22   1-apr    1,289.80
22       23   1-apr    2,153.00
23       24   1-apr    1,638.60
24       25   1-apr    1,621.65
25       26   1-apr    1,289.80
26       27   1-apr    1,500.30
27       28   1-apr    1,428.15
28       29   1-apr    1,396.75
29       30   1-apr    1,704.10
...     ...     ...         ...
1040   1041  29-jul    1,608.45
1041   1042  29-jul    1,729.60
1042   1043  29-jul    1,850.95
1043   1044  29-jul    1,638.70
1044   1045  29-jul    1,517.80
1045   1046  29-jul    1,881.35
1046   1047  29-jul    1,517.80
1047   1048  29-jul    1,578.20
1048   1049  29-jul    2,033.55
1049   1050  29-jul    1,729.60
1050   1051  29-jul    2,125.10
1051   1052  29-jul    1,790.25
1052   1053  29-jul    1,881.35
1053   1054  29-jul    1,517.80
1054   1055  29-jul    1,578.20
1055   1056  29-jul    1,881.35
1056   1057  29-jul    1,820.60
1057   1058  29-jul    1,457.40
1058   1059  29-jul    2,461.95
1059   1060  29-jul    1,729.60
1060   1061  29-jul    1,790.25
1061   1062  29-jul    1,638.70
1062   1063  29-jul    1,759.90
1063   1064  29-jul    1,608.45
1064   1065  29-jul    1,517.80
1065   1066  29-jul    1,487.60
1066   1067  29-jul    1,578.20
1067   1068  29-jul    1,578.20
1068   1069  29-jul    2,033.55
1069   1070  29-jul    1,790.25

[1070 rows x 3 columns]

In [29]:
newData5 = newData4.groupby(['SimID','sowdate'])['cumAvgTemp'].mean().reset_index()
newData5

      SimID sowdate  cumAvgTemp
0         1  29-jul    2,914.80
1         2   1-apr    1,341.75
2         3   1-apr    1,697.30
3         4   1-apr    1,540.35
4         5   1-apr    1,414.75
5         6   1-apr    1,500.30
6         7   1-apr    1,612.40
7         8   1-apr    1,268.65
8         9   1-apr    1,447.95
9        10   1-apr    1,810.85
10       11   1-apr    1,621.65
11       12   1-apr    1,387.70
12       13   1-apr    1,540.35
13       14   1-apr    1,640.70
14       15   1-apr    1,669.00
15       16   1-apr    1,621.65
16       17   1-apr    1,725.65
17       18   1-apr    1,588.00
18       19   1-apr    1,573.65
19       20   1-apr    1,500.30
20       21   1-apr    1,447.95
21       22   1-apr    1,289.80
22       23   1-apr    2,153.00
23       24   1-apr    1,638.60
24       25   1-apr    1,621.65
25       26   1-apr    1,289.80
26       27   1-apr    1,500.30
27       28   1-apr    1,428.15
28       29   1-apr    1,396.75
29       30   1-apr    1,704.10
...     ...     ...         ...
1040   1041  29-jul    1,608.45
1041   1042  29-jul    1,729.60
1042   1043  29-jul    1,850.95
1043   1044  29-jul    1,638.70
1044   1045  29-jul    1,517.80
1045   1046  29-jul    1,881.35
1046   1047  29-jul    1,517.80
1047   1048  29-jul    1,578.20
1048   1049  29-jul    2,033.55
1049   1050  29-jul    1,729.60
1050   1051  29-jul    2,125.10
1051   1052  29-jul    1,790.25
1052   1053  29-jul    1,881.35
1053   1054  29-jul    1,517.80
1054   1055  29-jul    1,578.20
1055   1056  29-jul    1,881.35
1056   1057  29-jul    1,820.60
1057   1058  29-jul    1,457.40
1058   1059  29-jul    2,461.95
1059   1060  29-jul    1,729.60
1060   1061  29-jul    1,790.25
1061   1062  29-jul    1,638.70
1062   1063  29-jul    1,759.90
1063   1064  29-jul    1,608.45
1064   1065  29-jul    1,517.80
1065   1066  29-jul    1,487.60
1066   1067  29-jul    1,578.20
1067   1068  29-jul    1,578.20
1068   1069  29-jul    2,033.55
1069   1070  29-jul    1,790.25

[1070 rows x 3 columns]

In [32]:
newData6 = newData5.merge(dfSim, on=['SimID', 'sowdate'], how='left')
filterCols = ['SimID', 'long', 'lat', 'variety', 'sowdate', 'cumAvgTemp']
newData6 = newData6[filterCols]

In [ ]:
outfilename = apsim_outfiledir + "/" + filename + "_zadok.csv"
newData5.to_csv(filename, encoding='utf-8', index=False)

In [ ]:
#to append to the file, need to use mode='a'
#newData5.to_csv(filename, header=False, mode='a')

In [33]:
newData6

      SimID   long    lat          variety sowdate  cumAvgTemp
0         1 113.60 -28.30            young  29-jul    2,914.80
1         2 113.60 -28.30       agt_katana   1-apr    1,341.75
2         3 113.60 -28.30       agt_scythe   1-apr    1,697.30
3         4 113.60 -28.30         annuello   1-apr    1,540.35
4         5 113.60 -28.30           aroona   1-apr    1,414.75
5         6 113.60 -28.30           arrino   1-apr    1,500.30
6         7 113.60 -28.30           attila   1-apr    1,612.40
7         8 113.60 -28.30              axe   1-apr    1,268.65
8         9 113.60 -28.30            banks   1-apr    1,447.95
9        10 113.60 -28.30          batavia   1-apr    1,810.85
10       11 113.60 -28.30           baxter   1-apr    1,621.65
11       12 113.60 -28.30            binnu   1-apr    1,387.70
12       13 113.60 -28.30            blade   1-apr    1,540.35
13       14 113.60 -28.30            bolac   1-apr    1,640.70
14       15 113.60 -28.30         braewood   1-apr    1,669.00
15       16 113.60 -28.30           cadoux   1-apr    1,621.65
16       17 113.60 -28.30        calingiri   1-apr    1,725.65
17       18 113.60 -28.30             camm   1-apr    1,588.00
18       19 113.60 -28.30          carinya   1-apr    1,573.65
19       20 113.60 -28.30         carnamah   1-apr    1,500.30
20       21 113.60 -28.30         cascades   1-apr    1,447.95
21       22 113.60 -28.30         catalina   1-apr    1,289.80
22       23 113.60 -28.30         champtal   1-apr    2,153.00
23       24 113.60 -28.30            chara   1-apr    1,638.60
24       25 113.60 -28.30  clearfield_janz   1-apr    1,621.65
25       26 113.60 -28.30           corack   1-apr    1,289.80
26       27 113.60 -28.30          correll   1-apr    1,500.30
27       28 113.60 -28.30         crusader   1-apr    1,428.15
28       29 113.60 -28.30        cunderdin   1-apr    1,396.75
29       30 113.60 -28.30        currawong   1-apr    1,704.10
...     ...    ...    ...              ...     ...         ...
1040   1041 113.60 -28.30        perenjori  29-jul    1,608.45
1041   1042 113.60 -28.30             rees  29-jul    1,729.60
1042   1043 113.60 -28.30         sentinel  29-jul    1,850.95
1043   1044 113.60 -28.30           shield  29-jul    1,638.70
1044   1045 113.60 -28.30       silverstar  29-jul    1,517.80
1045   1046 113.60 -28.30            spear  29-jul    1,881.35
1046   1047 113.60 -28.30         spitfire  29-jul    1,517.80
1047   1048 113.60 -28.30         stretton  29-jul    1,578.20
1048   1049 113.60 -28.30       strzelecki  29-jul    2,033.55
1049   1050 113.60 -28.30           stylet  29-jul    1,729.60
1050   1051 113.60 -28.30           sunbri  29-jul    2,125.10
1051   1052 113.60 -28.30            sunco  29-jul    1,790.25
1052   1053 113.60 -28.30           sunlin  29-jul    1,881.35
1053   1054 113.60 -28.30         sunstate  29-jul    1,517.80
1054   1055 113.60 -28.30           suntop  29-jul    1,578.20
1055   1056 113.60 -28.30          sunvale  29-jul    1,881.35
1056   1057 113.60 -28.30    super_seri_#1  29-jul    1,820.60
1057   1058 113.60 -28.30    tammarin_rock  29-jul    1,457.40
1058   1059 113.60 -28.30        thornbill  29-jul    2,461.95
1059   1060 113.60 -28.30        tincurrin  29-jul    1,729.60
1060   1061 113.60 -28.30          trident  29-jul    1,790.25
1061   1062 113.60 -28.30              tui  29-jul    1,638.70
1062   1063 113.60 -28.30            uresk  29-jul    1,759.90
1063   1064 113.60 -28.30          ventura  29-jul    1,608.45
1064   1065 113.60 -28.30           wallup  29-jul    1,517.80
1065   1066 113.60 -28.30         westonia  29-jul    1,487.60
1066   1067 113.60 -28.30      wyalkatchem  29-jul    1,578.20
1067   1068 113.60 -28.30       yandanooka  29-jul    1,578.20
1068   1069 113.60 -28.30            yenda  29-jul    2,033.55
1069   1070 113.60 -28.30            yitpi  29-jul    1,790.25

[1070 rows x 6 columns]