## Working with pandas dataframes

I am trying to extract the name information using the columns (as a whole, if that makes sense).  I have a function works if I iterate through the rows and treat each 'Name' individually.

In [1]:
import numpy as np
import pandas as pd
import sqlite3
import os
import feather

In [2]:
apsim_sourcedir = "/OSM/CBR/AG_WHEATTEMP/source"
apsim_outfiledir = "/OSM/CBR/AG_WHEATTEMP/work"
metfile_sourcedir = "/OSM/CBR/AG_WHEATTEMP/work/ApsimNG-test/APSIM_run/met"

In [3]:
dbfile_df = pd.DataFrame(columns=['filename'])
dbfile_df.filename = sorted(apsim_sourcedir+'/'+f for f in os.listdir(apsim_sourcedir) if f.endswith('.db'))
print(dbfile_df.head())

                                       filename
0  /OSM/CBR/AG_WHEATTEMP/source/113.60-28.30.db
1  /OSM/CBR/AG_WHEATTEMP/source/113.70-28.45.db
2  /OSM/CBR/AG_WHEATTEMP/source/113.70-28.50.db
3  /OSM/CBR/AG_WHEATTEMP/source/113.75-28.45.db
4  /OSM/CBR/AG_WHEATTEMP/source/113.75-28.50.db

In [4]:
#we are going to work with just the first filename
print(dbfile_df.filename[0])
con = sqlite3.connect(dbfile_df.filename[0])
cur = con.cursor()

/OSM/CBR/AG_WHEATTEMP/source/113.60-28.30.db

In [5]:
strSql = "SELECT ID as SimulationID, Name FROM _Simulations"
dfSim = pd.read_sql_query(strSql, con, index_col = 'SimulationID')
print(dfSim.shape)
dfSim

(1071, 1)

                                           Name
SimulationID
1                      11360_-2830_young_29-jul
2                  11360_-2830_agt_katana_1-apr
3                  11360_-2830_agt_scythe_1-apr
4                    11360_-2830_annuello_1-apr
5                      11360_-2830_aroona_1-apr
6                      11360_-2830_arrino_1-apr
7                      11360_-2830_attila_1-apr
8                         11360_-2830_axe_1-apr
9                       11360_-2830_banks_1-apr
10                    11360_-2830_batavia_1-apr
11                     11360_-2830_baxter_1-apr
12                      11360_-2830_binnu_1-apr
13                      11360_-2830_blade_1-apr
14                      11360_-2830_bolac_1-apr
15                   11360_-2830_braewood_1-apr
16                     11360_-2830_cadoux_1-apr
17                  11360_-2830_calingiri_1-apr
18                       11360_-2830_camm_1-apr
19                    11360_-2830_carinya_1-apr
20                   11360_-2830_carnamah_1-apr
21                   11360_-2830_cascades_1-apr
22                   11360_-2830_catalina_1-apr
23                   11360_-2830_champtal_1-apr
24                      11360_-2830_chara_1-apr
25            11360_-2830_clearfield_janz_1-apr
26                     11360_-2830_corack_1-apr
27                    11360_-2830_correll_1-apr
28                   11360_-2830_crusader_1-apr
29                  11360_-2830_cunderdin_1-apr
30                  11360_-2830_currawong_1-apr
...                                         ...
1042                    11360_-2830_rees_29-jul
1043                11360_-2830_sentinel_29-jul
1044                  11360_-2830_shield_29-jul
1045              11360_-2830_silverstar_29-jul
1046                   11360_-2830_spear_29-jul
1047                11360_-2830_spitfire_29-jul
1048                11360_-2830_stretton_29-jul
1049              11360_-2830_strzelecki_29-jul
1050                  11360_-2830_stylet_29-jul
1051                  11360_-2830_sunbri_29-jul
1052                   11360_-2830_sunco_29-jul
1053                  11360_-2830_sunlin_29-jul
1054                11360_-2830_sunstate_29-jul
1055                  11360_-2830_suntop_29-jul
1056                 11360_-2830_sunvale_29-jul
1057           11360_-2830_super_seri_#1_29-jul
1058           11360_-2830_tammarin_rock_29-jul
1059               11360_-2830_thornbill_29-jul
1060               11360_-2830_tincurrin_29-jul
1061                 11360_-2830_trident_29-jul
1062                     11360_-2830_tui_29-jul
1063                   11360_-2830_uresk_29-jul
1064                 11360_-2830_ventura_29-jul
1065                  11360_-2830_wallup_29-jul
1066                11360_-2830_westonia_29-jul
1067             11360_-2830_wyalkatchem_29-jul
1068              11360_-2830_yandanooka_29-jul
1069                   11360_-2830_yenda_29-jul
1070                   11360_-2830_yitpi_29-jul
1071                   11360_-2830_young_29-jul

[1071 rows x 1 columns]

In [6]:
#An alternative method, using grep is done below
#dfSim2 = dfSim.join(pd.DataFrame(dfSim.Name.str.rsplit('_', expand=True, n=1)))
#dfSim2.rename(columns={0: 'newName', 1: 'sowDate'}, inplace=True)

#dfSim2 = dfSim2.join(pd.DataFrame(dfSim2.newName.str.split('_', expand=True, n=2)))
#dfSim2.rename(columns={0: 'long', 1: 'lat', 2: 'variety'}, inplace=True)

#dfSim2.drop('newName', axis=1, inplace=True)
#dfSim2

In [7]:
#pd.options.display.float_format = '{:,.2f}'.format
#dfSim2['long'] = dfSim2['long'].astype(float) / 100
#dfSim2['lat'] = dfSim2['lat'].astype(float) / 100
#dfSim2

While the above works nicely, it may not be the best way to achieve this, might need to do some testing when dealing with more data.  So I will use regular expressions instead.

In [8]:
#This is done in a single line below
#dfSim['long'] = dfSim['Name'].str.extract("^(\d+)_-?\d+_\S+_\d+-\S+$", expand=True)
#dfSim['lat'] = dfSim['Name'].str.extract("^\d+_(-?\d+)_\S+_\d+-\S+$", expand=True)
#dfSim['variety'] = dfSim['Name'].str.extract("^\d+_-?\d+_(\S+)_\d+-\S+$", expand=True)
#dfSim['sowdate'] = dfSim['Name'].str.extract("^\d+_-?\d+_\S+_(\d+-\S+)$", expand=True)
#dfSim

In [9]:
#a more optimal way to achieve the above
dfSim[['long','lat','variety','sowdate']] = dfSim['Name'].str.extract("^(?P<lo>\d+)_(?P<la>-?\d+)_(?P<var>\S+)_(?P<da>\d+-\S+)$", expand=True)
dfSim

,Name,long,lat,variety,sowdate
SimulationID,,,,,
1,11360_-2830_young_29-jul,11360,-2830,young,29-jul
2,11360_-2830_agt_katana_1-apr,11360,-2830,agt_katana,1-apr
3,11360_-2830_agt_scythe_1-apr,11360,-2830,agt_scythe,1-apr
4,11360_-2830_annuello_1-apr,11360,-2830,annuello,1-apr
5,11360_-2830_aroona_1-apr,11360,-2830,aroona,1-apr
6,11360_-2830_arrino_1-apr,11360,-2830,arrino,1-apr
7,11360_-2830_attila_1-apr,11360,-2830,attila,1-apr
8,11360_-2830_axe_1-apr,11360,-2830,axe,1-apr
9,11360_-2830_banks_1-apr,11360,-2830,banks,1-apr
10,11360_-2830_batavia_1-apr,11360,-2830,batavia,1-apr
11,11360_-2830_baxter_1-apr,11360,-2830,baxter,1-apr
12,11360_-2830_binnu_1-apr,11360,-2830,binnu,1-apr
13,11360_-2830_blade_1-apr,11360,-2830,blade,1-apr
14,11360_-2830_bolac_1-apr,11360,-2830,bolac,1-apr
15,11360_-2830_braewood_1-apr,11360,-2830,braewood,1-apr
16,11360_-2830_cadoux_1-apr,11360,-2830,cadoux,1-apr
17,11360_-2830_calingiri_1-apr,11360,-2830,calingiri,1-apr
18,11360_-2830_camm_1-apr,11360,-2830,camm,1-apr
19,11360_-2830_carinya_1-apr,11360,-2830,carinya,1-apr
20,11360_-2830_carnamah_1-apr,11360,-2830,carnamah,1-apr
21,11360_-2830_cascades_1-apr,11360,-2830,cascades,1-apr
22,11360_-2830_catalina_1-apr,11360,-2830,catalina,1-apr
23,11360_-2830_champtal_1-apr,11360,-2830,champtal,1-apr
24,11360_-2830_chara_1-apr,11360,-2830,chara,1-apr
25,11360_-2830_clearfield_janz_1-apr,11360,-2830,clearfield_janz,1-apr
26,11360_-2830_corack_1-apr,11360,-2830,corack,1-apr
27,11360_-2830_correll_1-apr,11360,-2830,correll,1-apr
28,11360_-2830_crusader_1-apr,11360,-2830,crusader,1-apr
29,11360_-2830_cunderdin_1-apr,11360,-2830,cunderdin,1-apr
30,11360_-2830_currawong_1-apr,11360,-2830,currawong,1-apr
...,...,...,...,...,...
1042,11360_-2830_rees_29-jul,11360,-2830,rees,29-jul
1043,11360_-2830_sentinel_29-jul,11360,-2830,sentinel,29-jul
1044,11360_-2830_shield_29-jul,11360,-2830,shield,29-jul
1045,11360_-2830_silverstar_29-jul,11360,-2830,silverstar,29-jul
1046,11360_-2830_spear_29-jul,11360,-2830,spear,29-jul
1047,11360_-2830_spitfire_29-jul,11360,-2830,spitfire,29-jul
1048,11360_-2830_stretton_29-jul,11360,-2830,stretton,29-jul
1049,11360_-2830_strzelecki_29-jul,11360,-2830,strzelecki,29-jul
1050,11360_-2830_stylet_29-jul,11360,-2830,stylet,29-jul
1051,11360_-2830_sunbri_29-jul,11360,-2830,sunbri,29-jul
1052,11360_-2830_sunco_29-jul,11360,-2830,sunco,29-jul
1053,11360_-2830_sunlin_29-jul,11360,-2830,sunlin,29-jul
1054,11360_-2830_sunstate_29-jul,11360,-2830,sunstate,29-jul
1055,11360_-2830_suntop_29-jul,11360,-2830,suntop,29-jul
1056,11360_-2830_sunvale_29-jul,11360,-2830,sunvale,29-jul
1057,11360_-2830_super_seri_#1_29-jul,11360,-2830,super_seri_#1,29-jul
1058,11360_-2830_tammarin_rock_29-jul,11360,-2830,tammarin_rock,29-jul
1059,11360_-2830_thornbill_29-jul,11360,-2830,thornbill,29-jul
1060,11360_-2830_tincurrin_29-jul,11360,-2830,tincurrin,29-jul
1061,11360_-2830_trident_29-jul,11360,-2830,trident,29-jul
1062,11360_-2830_tui_29-jul,11360,-2830,tui,29-jul
1063,11360_-2830_uresk_29-jul,11360,-2830,uresk,29-jul
1064,11360_-2830_ventura_29-jul,11360,-2830,ventura,29-jul
1065,11360_-2830_wallup_29-jul,11360,-2830,wallup,29-jul
1066,11360_-2830_westonia_29-jul,11360,-2830,westonia,29-jul
1067,11360_-2830_wyalkatchem_29-jul,11360,-2830,wyalkatchem,29-jul
1068,11360_-2830_yandanooka_29-jul,11360,-2830,yandanooka,29-jul
1069,11360_-2830_yenda_29-jul,11360,-2830,yenda,29-jul
1070,11360_-2830_yitpi_29-jul,11360,-2830,yitpi,29-jul
1071,11360_-2830_young_29-jul,11360,-2830,young,29-jul

In [10]:
#now format the longitude and latitude columns correctly and
#add the SimID column (as we cannot work with the index column)
pd.options.display.float_format = '{:,.2f}'.format
dfSim['long'] = dfSim['long'].astype(float) / 100
dfSim['lat'] = dfSim['lat'].astype(float) / 100
dfSim['SimID'] = dfSim.index

In [11]:
print(dfSim.shape)
dfSim

(1071, 6)

,Name,long,lat,variety,sowdate,SimID
SimulationID,,,,,,
1,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul,1
2,11360_-2830_agt_katana_1-apr,113.60,-28.30,agt_katana,1-apr,2
3,11360_-2830_agt_scythe_1-apr,113.60,-28.30,agt_scythe,1-apr,3
4,11360_-2830_annuello_1-apr,113.60,-28.30,annuello,1-apr,4
5,11360_-2830_aroona_1-apr,113.60,-28.30,aroona,1-apr,5
6,11360_-2830_arrino_1-apr,113.60,-28.30,arrino,1-apr,6
7,11360_-2830_attila_1-apr,113.60,-28.30,attila,1-apr,7
8,11360_-2830_axe_1-apr,113.60,-28.30,axe,1-apr,8
9,11360_-2830_banks_1-apr,113.60,-28.30,banks,1-apr,9
10,11360_-2830_batavia_1-apr,113.60,-28.30,batavia,1-apr,10
11,11360_-2830_baxter_1-apr,113.60,-28.30,baxter,1-apr,11
12,11360_-2830_binnu_1-apr,113.60,-28.30,binnu,1-apr,12
13,11360_-2830_blade_1-apr,113.60,-28.30,blade,1-apr,13
14,11360_-2830_bolac_1-apr,113.60,-28.30,bolac,1-apr,14
15,11360_-2830_braewood_1-apr,113.60,-28.30,braewood,1-apr,15
16,11360_-2830_cadoux_1-apr,113.60,-28.30,cadoux,1-apr,16
17,11360_-2830_calingiri_1-apr,113.60,-28.30,calingiri,1-apr,17
18,11360_-2830_camm_1-apr,113.60,-28.30,camm,1-apr,18
19,11360_-2830_carinya_1-apr,113.60,-28.30,carinya,1-apr,19
20,11360_-2830_carnamah_1-apr,113.60,-28.30,carnamah,1-apr,20
21,11360_-2830_cascades_1-apr,113.60,-28.30,cascades,1-apr,21
22,11360_-2830_catalina_1-apr,113.60,-28.30,catalina,1-apr,22
23,11360_-2830_champtal_1-apr,113.60,-28.30,champtal,1-apr,23
24,11360_-2830_chara_1-apr,113.60,-28.30,chara,1-apr,24
25,11360_-2830_clearfield_janz_1-apr,113.60,-28.30,clearfield_janz,1-apr,25
26,11360_-2830_corack_1-apr,113.60,-28.30,corack,1-apr,26
27,11360_-2830_correll_1-apr,113.60,-28.30,correll,1-apr,27
28,11360_-2830_crusader_1-apr,113.60,-28.30,crusader,1-apr,28
29,11360_-2830_cunderdin_1-apr,113.60,-28.30,cunderdin,1-apr,29
30,11360_-2830_currawong_1-apr,113.60,-28.30,currawong,1-apr,30
...,...,...,...,...,...,...
1042,11360_-2830_rees_29-jul,113.60,-28.30,rees,29-jul,1042
1043,11360_-2830_sentinel_29-jul,113.60,-28.30,sentinel,29-jul,1043
1044,11360_-2830_shield_29-jul,113.60,-28.30,shield,29-jul,1044
1045,11360_-2830_silverstar_29-jul,113.60,-28.30,silverstar,29-jul,1045
1046,11360_-2830_spear_29-jul,113.60,-28.30,spear,29-jul,1046
1047,11360_-2830_spitfire_29-jul,113.60,-28.30,spitfire,29-jul,1047
1048,11360_-2830_stretton_29-jul,113.60,-28.30,stretton,29-jul,1048
1049,11360_-2830_strzelecki_29-jul,113.60,-28.30,strzelecki,29-jul,1049
1050,11360_-2830_stylet_29-jul,113.60,-28.30,stylet,29-jul,1050
1051,11360_-2830_sunbri_29-jul,113.60,-28.30,sunbri,29-jul,1051
1052,11360_-2830_sunco_29-jul,113.60,-28.30,sunco,29-jul,1052
1053,11360_-2830_sunlin_29-jul,113.60,-28.30,sunlin,29-jul,1053
1054,11360_-2830_sunstate_29-jul,113.60,-28.30,sunstate,29-jul,1054
1055,11360_-2830_suntop_29-jul,113.60,-28.30,suntop,29-jul,1055
1056,11360_-2830_sunvale_29-jul,113.60,-28.30,sunvale,29-jul,1056
1057,11360_-2830_super_seri_#1_29-jul,113.60,-28.30,super_seri_#1,29-jul,1057
1058,11360_-2830_tammarin_rock_29-jul,113.60,-28.30,tammarin_rock,29-jul,1058
1059,11360_-2830_thornbill_29-jul,113.60,-28.30,thornbill,29-jul,1059
1060,11360_-2830_tincurrin_29-jul,113.60,-28.30,tincurrin,29-jul,1060
1061,11360_-2830_trident_29-jul,113.60,-28.30,trident,29-jul,1061
1062,11360_-2830_tui_29-jul,113.60,-28.30,tui,29-jul,1062
1063,11360_-2830_uresk_29-jul,113.60,-28.30,uresk,29-jul,1063
1064,11360_-2830_ventura_29-jul,113.60,-28.30,ventura,29-jul,1064
1065,11360_-2830_wallup_29-jul,113.60,-28.30,wallup,29-jul,1065
1066,11360_-2830_westonia_29-jul,113.60,-28.30,westonia,29-jul,1066
1067,11360_-2830_wyalkatchem_29-jul,113.60,-28.30,wyalkatchem,29-jul,1067
1068,11360_-2830_yandanooka_29-jul,113.60,-28.30,yandanooka,29-jul,1068
1069,11360_-2830_yenda_29-jul,113.60,-28.30,yenda,29-jul,1069
1070,11360_-2830_yitpi_29-jul,113.60,-28.30,yitpi,29-jul,1070
1071,11360_-2830_young_29-jul,113.60,-28.30,young,29-jul,1071

#### Now lets filter this by the Variety we are after

In [12]:
dfSimVar = dfSim[(dfSim.variety=='janz')]
print(dfSimVar.shape)
dfSimVar

(10, 6)

                                 Name   long    lat variety sowdate  SimID
SimulationID
57             11360_-2830_janz_1-apr 113.60 -28.30    janz   1-apr     57
164           11360_-2830_janz_15-apr 113.60 -28.30    janz  15-apr    164
271           11360_-2830_janz_29-apr 113.60 -28.30    janz  29-apr    271
378           11360_-2830_janz_13-may 113.60 -28.30    janz  13-may    378
485           11360_-2830_janz_27-may 113.60 -28.30    janz  27-may    485
592            11360_-2830_janz_3-jun 113.60 -28.30    janz   3-jun    592
699           11360_-2830_janz_17-jun 113.60 -28.30    janz  17-jun    699
806            11360_-2830_janz_1-jul 113.60 -28.30    janz   1-jul    806
913           11360_-2830_janz_15-jul 113.60 -28.30    janz  15-jul    913
1020          11360_-2830_janz_29-jul 113.60 -28.30    janz  29-jul   1020

#### get a list of Simulation ID's

In [13]:
simIds = dfSimVar.index.tolist()
simIdStr = ', '.join(str(e) for e in simIds)
simIdStr

'57, 164, 271, 378, 485, 592, 699, 806, 913, 1020'

### Now retrieve the Report Data

We can use the simIds that were collected above

In [14]:
#This should return all of the columns
#strSql = "SELECT * FROM Report \
#          WHERE SimulationID IN (" + simIdStr + ") \
#          ORDER BY SimulationID"

strSql = "SELECT SimulationID, [Clock.Today] as ClockToday, [Wheat.Leaf.LAI] as LeafLAI, \
          [Wheat.AboveGround.Wt] as AboveGroundWeight, [Wheat.Grain.Wt] as GrainWeight, \
          [Wheat.Phenology.Zadok.Stage] as ZadokStage, [Wheat.WaterSupplyDemandRatio] as WaterSupplyDemandRatio, \
          [Wheat.Root.NUptake] as RootNUptake, [Wheat.Leaf.Fn] as LeafFn \
          FROM Report \
          WHERE SimulationID IN (" + simIdStr + ") \
          ORDER BY SimulationID, ClockToday"
strSql

'SELECT SimulationID, [Clock.Today] as ClockToday, [Wheat.Leaf.LAI] as LeafLAI,           [Wheat.AboveGround.Wt] as AboveGroundWeight, [Wheat.Grain.Wt] as GrainWeight,           [Wheat.Phenology.Zadok.Stage] as ZadokStage, [Wheat.WaterSupplyDemandRatio] as WaterSupplyDemandRatio,           [Wheat.Root.NUptake] as RootNUptake, [Wheat.Leaf.Fn] as LeafFn           FROM Report           WHERE SimulationID IN (57, 164, 271, 378, 485, 592, 699, 806, 913, 1020)           ORDER BY SimulationID, ClockToday'

In [15]:
#c = con.cursor()
#c.execute(strSql, simIds)
#varietyRows = c.fetchall()
#varietyRows = pd.DataFrame(varietyRows)
#varietyRows
#print(varietyRows.shape)

In [16]:
dfReport = pd.read_sql_query(strSql, con, \
                       index_col="SimulationID"
                      )
print(dfReport.shape)
dfReport

(430380, 8)

,ClockToday,LeafLAI,AboveGroundWeight,GrainWeight,ZadokStage,WaterSupplyDemandRatio,RootNUptake,LeafFn
SimulationID,,,,,,,,
57,1900-01-01 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-02 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-03 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-04 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-05 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-06 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-07 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-08 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-09 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-10 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-11 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-12 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-13 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-14 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-15 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-16 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-17 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-18 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-19 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-20 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-21 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-22 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-23 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-24 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-25 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-26 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-27 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-28 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-29 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
57,1900-01-30 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00
...,...,...,...,...,...,...,...,...
1020,2017-10-02 12:00:00,3.30,976.32,0.00,55.21,1.00,-2.09,1.00
1020,2017-10-03 12:00:00,3.30,"1,002.20",0.00,56.73,1.00,-2.44,1.00
1020,2017-10-04 12:00:00,3.30,"1,027.66",0.00,58.34,1.00,-2.91,1.00
1020,2017-10-05 12:00:00,3.30,"1,049.31",0.00,60.15,1.00,-2.49,1.00
1020,2017-10-06 12:00:00,3.30,"1,073.11",0.00,61.97,1.00,-2.01,1.00
1020,2017-10-07 12:00:00,3.30,"1,097.75",0.00,62.95,1.00,-2.75,1.00
1020,2017-10-08 12:00:00,3.30,"1,123.64",0.00,64.31,1.00,-2.75,1.00
1020,2017-10-09 12:00:00,3.30,"1,147.34",6.67,65.33,1.00,-5.30,1.00
1020,2017-10-10 12:00:00,3.30,"1,173.02",13.10,65.88,1.00,-5.02,1.00
1020,2017-10-11 12:00:00,3.30,"1,198.53",19.93,66.50,1.00,-4.60,1.00
1020,2017-10-12 12:00:00,3.30,"1,219.34",27.60,67.30,1.00,-4.21,1.00
1020,2017-10-13 12:00:00,3.30,"1,242.68",34.80,68.01,1.00,-3.68,1.00
1020,2017-10-14 12:00:00,3.30,"1,268.39",42.87,68.79,1.00,-3.28,1.00
1020,2017-10-15 12:00:00,3.30,"1,294.28",50.09,69.45,1.00,-2.94,1.00
1020,2017-10-16 12:00:00,3.30,"1,320.16",58.01,70.19,1.00,-2.67,1.00
1020,2017-10-17 12:00:00,3.30,"1,346.05",65.55,70.88,1.00,-2.45,1.00
1020,2017-10-18 12:00:00,3.30,"1,371.94",96.83,71.33,1.00,-2.26,1.00
1020,2017-10-19 12:00:00,3.30,"1,389.52",128.31,71.82,1.00,-2.05,1.00
1020,2017-10-20 12:00:00,3.30,"1,397.91",161.75,72.47,1.00,-1.89,1.00
1020,2017-10-21 12:00:00,3.30,"1,421.90",202.56,73.11,1.00,-1.79,1.00
1020,2017-10-22 12:00:00,3.30,"1,447.51",239.84,73.63,1.00,-1.69,1.00
1020,2017-10-23 12:00:00,3.30,"1,472.79",278.12,74.19,1.00,-1.58,1.00
1020,2017-10-24 12:00:00,3.30,"1,498.68",309.43,74.61,1.00,-1.51,1.00
1020,2017-10-25 12:00:00,3.30,"1,522.02",339.25,75.01,1.00,-1.42,1.00
1020,2017-10-26 12:00:00,3.30,"1,547.91",371.43,75.44,1.00,-1.34,1.00
1020,2017-10-27 12:00:00,3.30,"1,573.80",401.20,75.82,1.00,-1.28,1.00
1020,2017-10-28 12:00:00,3.30,"1,599.69",433.05,76.23,1.00,-1.22,1.00
1020,2017-10-29 12:00:00,3.30,"1,624.36",471.06,76.79,1.00,-1.15,1.00
1020,2017-10-30 12:00:00,3.30,"1,648.46",502.28,77.22,1.00,-1.11,1.00
1020,2017-10-31 12:00:00,3.30,"1,673.08",540.93,77.79,1.00,-1.06,1.00

In [17]:
# Need to re-format the Clock.Today column so that it only includes the date
dfReport['date'] = pd.to_datetime(dfReport['ClockToday']).apply(lambda x:x.strftime('%d/%m/%Y'))
dfReport['SimID'] = dfReport.index
dfReport

,ClockToday,LeafLAI,AboveGroundWeight,GrainWeight,ZadokStage,WaterSupplyDemandRatio,RootNUptake,LeafFn,date,SimID
SimulationID,,,,,,,,,,
57,1900-01-01 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,01/01/1900,57
57,1900-01-02 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,02/01/1900,57
57,1900-01-03 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,03/01/1900,57
57,1900-01-04 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,04/01/1900,57
57,1900-01-05 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,05/01/1900,57
57,1900-01-06 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,06/01/1900,57
57,1900-01-07 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,07/01/1900,57
57,1900-01-08 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,08/01/1900,57
57,1900-01-09 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,09/01/1900,57
57,1900-01-10 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,10/01/1900,57
57,1900-01-11 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,11/01/1900,57
57,1900-01-12 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,12/01/1900,57
57,1900-01-13 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,13/01/1900,57
57,1900-01-14 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,14/01/1900,57
57,1900-01-15 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,15/01/1900,57
57,1900-01-16 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,16/01/1900,57
57,1900-01-17 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,17/01/1900,57
57,1900-01-18 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,18/01/1900,57
57,1900-01-19 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,19/01/1900,57
57,1900-01-20 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,20/01/1900,57
57,1900-01-21 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,21/01/1900,57
57,1900-01-22 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,22/01/1900,57
57,1900-01-23 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,23/01/1900,57
57,1900-01-24 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,24/01/1900,57
57,1900-01-25 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,25/01/1900,57
57,1900-01-26 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,26/01/1900,57
57,1900-01-27 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,27/01/1900,57
57,1900-01-28 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,28/01/1900,57
57,1900-01-29 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,29/01/1900,57
57,1900-01-30 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,30/01/1900,57
...,...,...,...,...,...,...,...,...,...,...
1020,2017-10-02 12:00:00,3.30,976.32,0.00,55.21,1.00,-2.09,1.00,02/10/2017,1020
1020,2017-10-03 12:00:00,3.30,"1,002.20",0.00,56.73,1.00,-2.44,1.00,03/10/2017,1020
1020,2017-10-04 12:00:00,3.30,"1,027.66",0.00,58.34,1.00,-2.91,1.00,04/10/2017,1020
1020,2017-10-05 12:00:00,3.30,"1,049.31",0.00,60.15,1.00,-2.49,1.00,05/10/2017,1020
1020,2017-10-06 12:00:00,3.30,"1,073.11",0.00,61.97,1.00,-2.01,1.00,06/10/2017,1020
1020,2017-10-07 12:00:00,3.30,"1,097.75",0.00,62.95,1.00,-2.75,1.00,07/10/2017,1020
1020,2017-10-08 12:00:00,3.30,"1,123.64",0.00,64.31,1.00,-2.75,1.00,08/10/2017,1020
1020,2017-10-09 12:00:00,3.30,"1,147.34",6.67,65.33,1.00,-5.30,1.00,09/10/2017,1020
1020,2017-10-10 12:00:00,3.30,"1,173.02",13.10,65.88,1.00,-5.02,1.00,10/10/2017,1020
1020,2017-10-11 12:00:00,3.30,"1,198.53",19.93,66.50,1.00,-4.60,1.00,11/10/2017,1020
1020,2017-10-12 12:00:00,3.30,"1,219.34",27.60,67.30,1.00,-4.21,1.00,12/10/2017,1020
1020,2017-10-13 12:00:00,3.30,"1,242.68",34.80,68.01,1.00,-3.68,1.00,13/10/2017,1020
1020,2017-10-14 12:00:00,3.30,"1,268.39",42.87,68.79,1.00,-3.28,1.00,14/10/2017,1020
1020,2017-10-15 12:00:00,3.30,"1,294.28",50.09,69.45,1.00,-2.94,1.00,15/10/2017,1020
1020,2017-10-16 12:00:00,3.30,"1,320.16",58.01,70.19,1.00,-2.67,1.00,16/10/2017,1020
1020,2017-10-17 12:00:00,3.30,"1,346.05",65.55,70.88,1.00,-2.45,1.00,17/10/2017,1020
1020,2017-10-18 12:00:00,3.30,"1,371.94",96.83,71.33,1.00,-2.26,1.00,18/10/2017,1020
1020,2017-10-19 12:00:00,3.30,"1,389.52",128.31,71.82,1.00,-2.05,1.00,19/10/2017,1020
1020,2017-10-20 12:00:00,3.30,"1,397.91",161.75,72.47,1.00,-1.89,1.00,20/10/2017,1020
1020,2017-10-21 12:00:00,3.30,"1,421.90",202.56,73.11,1.00,-1.79,1.00,21/10/2017,1020
1020,2017-10-22 12:00:00,3.30,"1,447.51",239.84,73.63,1.00,-1.69,1.00,22/10/2017,1020
1020,2017-10-23 12:00:00,3.30,"1,472.79",278.12,74.19,1.00,-1.58,1.00,23/10/2017,1020
1020,2017-10-24 12:00:00,3.30,"1,498.68",309.43,74.61,1.00,-1.51,1.00,24/10/2017,1020
1020,2017-10-25 12:00:00,3.30,"1,522.02",339.25,75.01,1.00,-1.42,1.00,25/10/2017,1020
1020,2017-10-26 12:00:00,3.30,"1,547.91",371.43,75.44,1.00,-1.34,1.00,26/10/2017,1020
1020,2017-10-27 12:00:00,3.30,"1,573.80",401.20,75.82,1.00,-1.28,1.00,27/10/2017,1020
1020,2017-10-28 12:00:00,3.30,"1,599.69",433.05,76.23,1.00,-1.22,1.00,28/10/2017,1020
1020,2017-10-29 12:00:00,3.30,"1,624.36",471.06,76.79,1.00,-1.15,1.00,29/10/2017,1020
1020,2017-10-30 12:00:00,3.30,"1,648.46",502.28,77.22,1.00,-1.11,1.00,30/10/2017,1020
1020,2017-10-31 12:00:00,3.30,"1,673.08",540.93,77.79,1.00,-1.06,1.00,31/10/2017,1020

### Lets retrieve the weather data and format it as required

In [18]:
print(dbfile_df.filename[0])

/OSM/CBR/AG_WHEATTEMP/source/113.60-28.30.db

In [19]:
def get_weather_filename(sourceDir, dbfilename):
    '''
    takes in the sourceDirectory for the met files, and the SQLite database filename
    and returns the fullpath/filename of the met file
    '''
    
    #apsim_outfiledir 
    #K:\ApsimNG-test\APSIM_run\met
    filename = os.path.basename(dbfilename)
    filename = os.path.splitext(filename)[0]
    nameparts = filename.split('-')
    #cannot use the db filename as it doesn't have the long & lat that we require
    #need to manipulate the filename to add the underscrore '_' char
    filename = nameparts[0] + '_-' + nameparts[1]
    #filename = "115.20_-29.35"
    filename = sourceDir + "/c_" + filename + ".met"
    print(filename)
    #print("/OSM/CBR/AG_WHEATTEMP/work/ApsimNG-test/APSIM_run/met/")
    
    return filename

In [20]:
def compose_date(years, months=1, days=1, weeks=None, hours=None, minutes=None,
                 seconds=None, milliseconds=None, microseconds=None, nanoseconds=None):
    '''
    builds a date based on a year and day of year
    '''
    
    years = np.asarray(years) - 1970
    months = np.asarray(months) - 1
    days = np.asarray(days) - 1
    types = ('<M8[Y]', '<m8[M]', '<m8[D]', '<m8[W]', '<m8[h]',
             '<m8[m]', '<m8[s]', '<m8[ms]', '<m8[us]', '<m8[ns]')
    vals = (years, months, days, weeks, hours, minutes, seconds,
            milliseconds, microseconds, nanoseconds)
    
    return sum(np.asarray(v, dtype=t) for t, v in zip(types, vals)
               if v is not None)

    #df = pd.DataFrame({'doy': [49, 65, 81, 97, 113, 129, 145, 161],
    #               'year': [2000, 2000, 2000, 2001, 2001, 2001, 2001, 2001]})

In [21]:
def read_ApsimWeather(filename):
    '''
    Reads an apsim weather ('.met') file, removes the header information,
    calculates and adds a date column (based on year and day), and the
    average tempearature (based on maxt and mint).
    '''
    
    import pandas as pd
    import datetime
    
    lineNo = 0 
    with open(filename, "r") as f:
        #all_lines = f.readlines()
        for line in f:
            lineNo = lineNo + 1
            if line.startswith('year'):
                break;
                
    #return the data using the starting line no (determined above)
    metData = pd.read_table(filename, sep='\s+', header=None, skiprows=lineNo+1, 
                          names=['year','day', 'radn', 'maxt', 'mint', 'rain'])
    
    # add the calculated columns
    metData['date'] = compose_date(metData['year'], days=metData['day'])
    metData['date'] = pd.to_datetime(metData['date']).apply(lambda x:x.strftime('%d/%m/%Y'))
    metData['avgt'] = (metData['maxt'] + metData['mint']) / 2

    # sort the columns to be a little more logical
    cols=['year', 'day', 'date', 'maxt', 'mint', 'avgt', 'radn', 'rain']
    metData = metData[cols]
    
    #return the data
    return metData

In [22]:
filename = get_weather_filename(metfile_sourcedir, dbfile_df.filename[0])
metData = read_ApsimWeather(filename)
print(metData.shape)
metData

/OSM/CBR/AG_WHEATTEMP/work/ApsimNG-test/APSIM_run/met/c_113.60_-28.30.met
(43038, 8)

       year  day        date  maxt  mint  avgt  radn  rain
0      1900    1  01/01/1900 31.80 13.40 22.60 24.30  0.00
1      1900    2  02/01/1900 31.80 13.40 22.60 24.30  0.00
2      1900    3  03/01/1900 31.80 13.40 22.60 24.30  0.00
3      1900    4  04/01/1900 31.80 13.40 22.60 24.30  0.00
4      1900    5  05/01/1900 31.80 13.40 22.60 24.30  0.00
5      1900    6  06/01/1900 31.80 13.40 22.60 24.30  0.00
6      1900    7  07/01/1900 31.80 13.40 22.60 24.30  0.00
7      1900    8  08/01/1900 31.80 13.40 22.60 24.30  0.00
8      1900    9  09/01/1900 31.80 13.40 22.60 24.30  0.00
9      1900   10  10/01/1900 31.80 13.40 22.60 24.30  0.00
10     1900   11  11/01/1900 31.80 13.40 22.60 24.30  0.00
11     1900   12  12/01/1900 31.80 13.40 22.60 24.30  0.00
12     1900   13  13/01/1900 31.80 13.40 22.60 24.30  0.00
13     1900   14  14/01/1900 31.80 13.40 22.60 24.30  0.00
14     1900   15  15/01/1900 31.80 13.40 22.60 24.30  0.00
15     1900   16  16/01/1900 31.80 13.40 22.60 24.30  0.00
16     1900   17  17/01/1900 31.80 13.40 22.60 24.30  0.00
17     1900   18  18/01/1900 31.80 13.40 22.60 24.30  0.00
18     1900   19  19/01/1900 31.80 13.40 22.60 24.30  0.00
19     1900   20  20/01/1900 31.80 13.40 22.60 24.30  0.00
20     1900   21  21/01/1900 31.80 13.40 22.60 24.30  0.00
21     1900   22  22/01/1900 31.80 13.40 22.60 24.30  0.00
22     1900   23  23/01/1900 31.80 13.40 22.60 24.30  0.00
23     1900   24  24/01/1900 31.80 13.40 22.60 24.30  0.00
24     1900   25  25/01/1900 31.80 13.40 22.60 24.30  0.00
25     1900   26  26/01/1900 31.80 13.40 22.60 24.30  0.00
26     1900   27  27/01/1900 31.80 13.40 22.60 24.30  0.00
27     1900   28  28/01/1900 31.80 13.40 22.60 24.30  0.00
28     1900   29  29/01/1900 31.80 13.40 22.60 24.30  0.00
29     1900   30  30/01/1900 31.80 13.40 22.60 24.30  0.00
...     ...  ...         ...   ...   ...   ...   ...   ...
43008  2017  275  02/10/2017 27.10 10.00 18.55 26.70  0.00
43009  2017  276  03/10/2017 23.10 11.80 17.45 26.70  0.00
43010  2017  277  04/10/2017 24.00 11.90 17.95 26.70  0.00
43011  2017  278  05/10/2017 27.00 10.90 18.95 26.70  0.00
43012  2017  279  06/10/2017 25.80 12.40 19.10 26.70  0.00
43013  2017  280  07/10/2017 18.70  9.50 14.10 26.70  1.70
43014  2017  281  08/10/2017 21.80 11.30 16.55 26.70  0.00
43015  2017  282  09/10/2017 24.40  9.10 16.75 26.70  0.00
43016  2017  283  10/10/2017 20.40 11.70 16.05 26.70  0.00
43017  2017  284  11/10/2017 23.30 10.60 16.95 26.70  0.30
43018  2017  285  12/10/2017 27.60 10.70 19.15 26.70  0.00
43019  2017  286  13/10/2017 25.30 10.40 17.85 26.70  0.00
43020  2017  287  14/10/2017 23.50 14.90 19.20 26.70  0.00
43021  2017  288  15/10/2017 22.80 12.40 17.60 26.70  0.00
43022  2017  289  16/10/2017 20.50 16.90 18.70 26.70  2.90
43023  2017  290  17/10/2017 21.20 14.90 18.05 26.70  2.40
43024  2017  291  18/10/2017 22.10 13.90 18.00 26.70  0.80
43025  2017  292  19/10/2017 29.60  9.30 19.45 26.70  0.00
43026  2017  293  20/10/2017 36.50 13.20 24.85 26.70  0.00
43027  2017  294  21/10/2017 25.70 20.20 22.95 26.70  0.00
43028  2017  295  22/10/2017 22.40 19.00 20.70 26.70  0.00
43029  2017  296  23/10/2017 23.10 19.40 21.25 26.70  0.00
43030  2017  297  24/10/2017 23.60 12.70 18.15 26.70  0.00
43031  2017  298  25/10/2017 25.20 10.20 17.70 26.70  0.00
43032  2017  299  26/10/2017 22.90 14.00 18.45 26.70  0.00
43033  2017  300  27/10/2017 22.60 12.20 17.40 26.70  0.00
43034  2017  301  28/10/2017 20.60 15.70 18.15 26.70  0.00
43035  2017  302  29/10/2017 25.30 17.50 21.40 26.70  0.10
43036  2017  303  30/10/2017 25.10 11.50 18.30 26.70  0.00
43037  2017  304  31/10/2017 25.20 18.20 21.70 26.70  0.00

[43038 rows x 8 columns]

### Now need to merge the report data with the weather data

In [23]:
#dfReport.date = pd.to_datetime(dfReport.date, format="%d/%m/%Y")
#metData.date = pd.to_datetime(metData.date, format="%d/%m/%Y")
dfCombined = dfReport.merge(metData, on='date', how='left')

In [24]:
print(dfCombined.shape)
dfCombined

(430380, 17)

,ClockToday,LeafLAI,AboveGroundWeight,GrainWeight,ZadokStage,WaterSupplyDemandRatio,RootNUptake,LeafFn,date,SimID,year,day,maxt,mint,avgt,radn,rain
0,1900-01-01 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,01/01/1900,57,1900,1,31.80,13.40,22.60,24.30,0.00
1,1900-01-02 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,02/01/1900,57,1900,2,31.80,13.40,22.60,24.30,0.00
2,1900-01-03 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,03/01/1900,57,1900,3,31.80,13.40,22.60,24.30,0.00
3,1900-01-04 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,04/01/1900,57,1900,4,31.80,13.40,22.60,24.30,0.00
4,1900-01-05 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,05/01/1900,57,1900,5,31.80,13.40,22.60,24.30,0.00
5,1900-01-06 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,06/01/1900,57,1900,6,31.80,13.40,22.60,24.30,0.00
6,1900-01-07 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,07/01/1900,57,1900,7,31.80,13.40,22.60,24.30,0.00
7,1900-01-08 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,08/01/1900,57,1900,8,31.80,13.40,22.60,24.30,0.00
8,1900-01-09 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,09/01/1900,57,1900,9,31.80,13.40,22.60,24.30,0.00
9,1900-01-10 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,10/01/1900,57,1900,10,31.80,13.40,22.60,24.30,0.00
10,1900-01-11 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,11/01/1900,57,1900,11,31.80,13.40,22.60,24.30,0.00
11,1900-01-12 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,12/01/1900,57,1900,12,31.80,13.40,22.60,24.30,0.00
12,1900-01-13 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,13/01/1900,57,1900,13,31.80,13.40,22.60,24.30,0.00
13,1900-01-14 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,14/01/1900,57,1900,14,31.80,13.40,22.60,24.30,0.00
14,1900-01-15 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,15/01/1900,57,1900,15,31.80,13.40,22.60,24.30,0.00
15,1900-01-16 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,16/01/1900,57,1900,16,31.80,13.40,22.60,24.30,0.00
16,1900-01-17 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,17/01/1900,57,1900,17,31.80,13.40,22.60,24.30,0.00
17,1900-01-18 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,18/01/1900,57,1900,18,31.80,13.40,22.60,24.30,0.00
18,1900-01-19 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,19/01/1900,57,1900,19,31.80,13.40,22.60,24.30,0.00
19,1900-01-20 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,20/01/1900,57,1900,20,31.80,13.40,22.60,24.30,0.00
20,1900-01-21 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,21/01/1900,57,1900,21,31.80,13.40,22.60,24.30,0.00
21,1900-01-22 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,22/01/1900,57,1900,22,31.80,13.40,22.60,24.30,0.00
22,1900-01-23 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,23/01/1900,57,1900,23,31.80,13.40,22.60,24.30,0.00
23,1900-01-24 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,24/01/1900,57,1900,24,31.80,13.40,22.60,24.30,0.00
24,1900-01-25 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,25/01/1900,57,1900,25,31.80,13.40,22.60,24.30,0.00
25,1900-01-26 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,26/01/1900,57,1900,26,31.80,13.40,22.60,24.30,0.00
26,1900-01-27 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,27/01/1900,57,1900,27,31.80,13.40,22.60,24.30,0.00
27,1900-01-28 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,28/01/1900,57,1900,28,31.80,13.40,22.60,24.30,0.00
28,1900-01-29 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,29/01/1900,57,1900,29,31.80,13.40,22.60,24.30,0.00
29,1900-01-30 12:00:00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,30/01/1900,57,1900,30,31.80,13.40,22.60,24.30,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430350,2017-10-02 12:00:00,3.30,976.32,0.00,55.21,1.00,-2.09,1.00,02/10/2017,1020,2017,275,27.10,10.00,18.55,26.70,0.00
430351,2017-10-03 12:00:00,3.30,"1,002.20",0.00,56.73,1.00,-2.44,1.00,03/10/2017,1020,2017,276,23.10,11.80,17.45,26.70,0.00
430352,2017-10-04 12:00:00,3.30,"1,027.66",0.00,58.34,1.00,-2.91,1.00,04/10/2017,1020,2017,277,24.00,11.90,17.95,26.70,0.00
430353,2017-10-05 12:00:00,3.30,"1,049.31",0.00,60.15,1.00,-2.49,1.00,05/10/2017,1020,2017,278,27.00,10.90,18.95,26.70,0.00
430354,2017-10-06 12:00:00,3.30,"1,073.11",0.00,61.97,1.00,-2.01,1.00,06/10/2017,1020,2017,279,25.80,12.40,19.10,26.70,0.00
430355,2017-10-07 12:00:00,3.30,"1,097.75",0.00,62.95,1.00,-2.75,1.00,07/10/2017,1020,2017,280,18.70,9.50,14.10,26.70,1.70
430356,2017-10-08 12:00:00,3.30,"1,123.64",0.00,64.31,1.00,-2.75,1.00,08/10/2017,1020,2017,281,21.80,11.30,16.55,26.70,0.00
430357,2017-10-09 12:00:00,3.30,"1,147.34",6.67,65.33,1.00,-5.30,1.00,09/10/2017,1020,2017,282,24.40,9.10,16.75,26.70,0.00
430358,2017-10-10 12:00:00,3.30,"1,173.02",13.10,65.88,1.00,-5.02,1.00,10/10/2017,1020,2017,283,20.40,11.70,16.05,26.70,0.00
430359,2017-10-11 12:00:00,3.30,"1,198.53",19.93,66.50,1.00,-4.60,1.00,11/10/2017,1020,2017,284,23.30,10.60,16.95,26.70,0.30
430360,2017-10-12 12:00:00,3.30,"1,219.34",27.60,67.30,1.00,-4.21,1.00,12/10/2017,1020,2017,285,27.60,10.70,19.15,26.70,0.00
430361,2017-10-13 12:00:00,3.30,"1,242.68",34.80,68.01,1.00,-3.68,1.00,13/10/2017,1020,2017,286,25.30,10.40,17.85,26.70,0.00
430362,2017-10-14 12:00:00,3.30,"1,268.39",42.87,68.79,1.00,-3.28,1.00,14/10/2017,1020,2017,287,23.50,14.90,19.20,26.70,0.00
430363,2017-10-15 12:00:00,3.30,"1,294.28",50.09,69.45,1.00,-2.94,1.00,15/10/2017,1020,2017,288,22.80,12.40,17.60,26.70,0.00
430364,2017-10-16 12:00:00,3.30,"1,320.16",58.01,70.19,1.00,-2.67,1.00,16/10/2017,1020,2017,289,20.50,16.90,18.70,26.70,2.90
430365,2017-10-17 12:00:00,3.30,"1,346.05",65.55,70.88,1.00,-2.45,1.00,17/10/2017,1020,2017,290,21.20,14.90,18.05,26.70,2.40
430366,2017-10-18 12:00:00,3.30,"1,371.94",96.83,71.33,1.00,-2.26,1.00,18/10/2017,1020,2017,291,22.10,13.90,18.00,26.70,0.80
430367,2017-10-19 12:00:00,3.30,"1,389.52",128.31,71.82,1.00,-2.05,1.00,19/10/2017,1020,2017,292,29.60,9.30,19.45,26.70,0.00
430368,2017-10-20 12:00:00,3.30,"1,397.91",161.75,72.47,1.00,-1.89,1.00,20/10/2017,1020,2017,293,36.50,13.20,24.85,26.70,0.00
430369,2017-10-21 12:00:00,3.30,"1,421.90",202.56,73.11,1.00,-1.79,1.00,21/10/2017,1020,2017,294,25.70,20.20,22.95,26.70,0.00
430370,2017-10-22 12:00:00,3.30,"1,447.51",239.84,73.63,1.00,-1.69,1.00,22/10/2017,1020,2017,295,22.40,19.00,20.70,26.70,0.00
430371,2017-10-23 12:00:00,3.30,"1,472.79",278.12,74.19,1.00,-1.58,1.00,23/10/2017,1020,2017,296,23.10,19.40,21.25,26.70,0.00
430372,2017-10-24 12:00:00,3.30,"1,498.68",309.43,74.61,1.00,-1.51,1.00,24/10/2017,1020,2017,297,23.60,12.70,18.15,26.70,0.00
430373,2017-10-25 12:00:00,3.30,"1,522.02",339.25,75.01,1.00,-1.42,1.00,25/10/2017,1020,2017,298,25.20,10.20,17.70,26.70,0.00
430374,2017-10-26 12:00:00,3.30,"1,547.91",371.43,75.44,1.00,-1.34,1.00,26/10/2017,1020,2017,299,22.90,14.00,18.45,26.70,0.00
430375,2017-10-27 12:00:00,3.30,"1,573.80",401.20,75.82,1.00,-1.28,1.00,27/10/2017,1020,2017,300,22.60,12.20,17.40,26.70,0.00
430376,2017-10-28 12:00:00,3.30,"1,599.69",433.05,76.23,1.00,-1.22,1.00,28/10/2017,1020,2017,301,20.60,15.70,18.15,26.70,0.00
430377,2017-10-29 12:00:00,3.30,"1,624.36",471.06,76.79,1.00,-1.15,1.00,29/10/2017,1020,2017,302,25.30,17.50,21.40,26.70,0.10
430378,2017-10-30 12:00:00,3.30,"1,648.46",502.28,77.22,1.00,-1.11,1.00,30/10/2017,1020,2017,303,25.10,11.50,18.30,26.70,0.00
430379,2017-10-31 12:00:00,3.30,"1,673.08",540.93,77.79,1.00,-1.06,1.00,31/10/2017,1020,2017,304,25.20,18.20,21.70,26.70,0.00

In [25]:
#filterCols = ['SimID', 'date', 'ZadokStage', 'avgt']
#subData = dfCombined[['SimID', 'date', 'ZadokStage', 'avgt']]
#dfCombined.loc[:, 'SimID', 'date', 'ZadokStage', 'avgt']
#subData = pd.DataFrame(dfCombined, columns=['SimID', 'date', 'ZadokStage', 'avgt'])
#subData

In [26]:
#dfCombined = pd.DataFrame(dfCombined)
filterCols = ['SimID', 'date', 'ZadokStage', 'avgt']
subData = dfCombined[filterCols]
subData

        SimID        date  ZadokStage  avgt
0          57  01/01/1900        0.00 22.60
1          57  02/01/1900        0.00 22.60
2          57  03/01/1900        0.00 22.60
3          57  04/01/1900        0.00 22.60
4          57  05/01/1900        0.00 22.60
5          57  06/01/1900        0.00 22.60
6          57  07/01/1900        0.00 22.60
7          57  08/01/1900        0.00 22.60
8          57  09/01/1900        0.00 22.60
9          57  10/01/1900        0.00 22.60
10         57  11/01/1900        0.00 22.60
11         57  12/01/1900        0.00 22.60
12         57  13/01/1900        0.00 22.60
13         57  14/01/1900        0.00 22.60
14         57  15/01/1900        0.00 22.60
15         57  16/01/1900        0.00 22.60
16         57  17/01/1900        0.00 22.60
17         57  18/01/1900        0.00 22.60
18         57  19/01/1900        0.00 22.60
19         57  20/01/1900        0.00 22.60
20         57  21/01/1900        0.00 22.60
21         57  22/01/1900        0.00 22.60
22         57  23/01/1900        0.00 22.60
23         57  24/01/1900        0.00 22.60
24         57  25/01/1900        0.00 22.60
25         57  26/01/1900        0.00 22.60
26         57  27/01/1900        0.00 22.60
27         57  28/01/1900        0.00 22.60
28         57  29/01/1900        0.00 22.60
29         57  30/01/1900        0.00 22.60
...       ...         ...         ...   ...
430350   1020  02/10/2017       55.21 18.55
430351   1020  03/10/2017       56.73 17.45
430352   1020  04/10/2017       58.34 17.95
430353   1020  05/10/2017       60.15 18.95
430354   1020  06/10/2017       61.97 19.10
430355   1020  07/10/2017       62.95 14.10
430356   1020  08/10/2017       64.31 16.55
430357   1020  09/10/2017       65.33 16.75
430358   1020  10/10/2017       65.88 16.05
430359   1020  11/10/2017       66.50 16.95
430360   1020  12/10/2017       67.30 19.15
430361   1020  13/10/2017       68.01 17.85
430362   1020  14/10/2017       68.79 19.20
430363   1020  15/10/2017       69.45 17.60
430364   1020  16/10/2017       70.19 18.70
430365   1020  17/10/2017       70.88 18.05
430366   1020  18/10/2017       71.33 18.00
430367   1020  19/10/2017       71.82 19.45
430368   1020  20/10/2017       72.47 24.85
430369   1020  21/10/2017       73.11 22.95
430370   1020  22/10/2017       73.63 20.70
430371   1020  23/10/2017       74.19 21.25
430372   1020  24/10/2017       74.61 18.15
430373   1020  25/10/2017       75.01 17.70
430374   1020  26/10/2017       75.44 18.45
430375   1020  27/10/2017       75.82 17.40
430376   1020  28/10/2017       76.23 18.15
430377   1020  29/10/2017       76.79 21.40
430378   1020  30/10/2017       77.22 18.30
430379   1020  31/10/2017       77.79 21.70

[430380 rows x 4 columns]

### Now add back the simulation details so that we can get sowdate for each simulation

In [27]:
#dfSim
subData = subData.merge(dfSim, on="SimID", how='left')
subData

,SimID,date,ZadokStage,avgt,Name,long,lat,variety,sowdate
0,57,01/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
1,57,02/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
2,57,03/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
3,57,04/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
4,57,05/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
5,57,06/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
6,57,07/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
7,57,08/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
8,57,09/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
9,57,10/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
10,57,11/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
11,57,12/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
12,57,13/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
13,57,14/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
14,57,15/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
15,57,16/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
16,57,17/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
17,57,18/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
18,57,19/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
19,57,20/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
20,57,21/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
21,57,22/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
22,57,23/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
23,57,24/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
24,57,25/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
25,57,26/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
26,57,27/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
27,57,28/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
28,57,29/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
29,57,30/01/1900,0.00,22.60,11360_-2830_janz_1-apr,113.60,-28.30,janz,1-apr
...,...,...,...,...,...,...,...,...,...
430350,1020,02/10/2017,55.21,18.55,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430351,1020,03/10/2017,56.73,17.45,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430352,1020,04/10/2017,58.34,17.95,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430353,1020,05/10/2017,60.15,18.95,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430354,1020,06/10/2017,61.97,19.10,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430355,1020,07/10/2017,62.95,14.10,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430356,1020,08/10/2017,64.31,16.55,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430357,1020,09/10/2017,65.33,16.75,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430358,1020,10/10/2017,65.88,16.05,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430359,1020,11/10/2017,66.50,16.95,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430360,1020,12/10/2017,67.30,19.15,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430361,1020,13/10/2017,68.01,17.85,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430362,1020,14/10/2017,68.79,19.20,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430363,1020,15/10/2017,69.45,17.60,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430364,1020,16/10/2017,70.19,18.70,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430365,1020,17/10/2017,70.88,18.05,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430366,1020,18/10/2017,71.33,18.00,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430367,1020,19/10/2017,71.82,19.45,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430368,1020,20/10/2017,72.47,24.85,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430369,1020,21/10/2017,73.11,22.95,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430370,1020,22/10/2017,73.63,20.70,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430371,1020,23/10/2017,74.19,21.25,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430372,1020,24/10/2017,74.61,18.15,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430373,1020,25/10/2017,75.01,17.70,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430374,1020,26/10/2017,75.44,18.45,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430375,1020,27/10/2017,75.82,17.40,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430376,1020,28/10/2017,76.23,18.15,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430377,1020,29/10/2017,76.79,21.40,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430378,1020,30/10/2017,77.22,18.30,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul
430379,1020,31/10/2017,77.79,21.70,11360_-2830_janz_29-jul,113.60,-28.30,janz,29-jul

In [28]:
#get a subset of the data
filterCols = ['SimID', 'date', 'ZadokStage', 'avgt', 'sowdate']
subData = subData[filterCols]
subData

        SimID        date  ZadokStage  avgt sowdate
0          57  01/01/1900        0.00 22.60   1-apr
1          57  02/01/1900        0.00 22.60   1-apr
2          57  03/01/1900        0.00 22.60   1-apr
3          57  04/01/1900        0.00 22.60   1-apr
4          57  05/01/1900        0.00 22.60   1-apr
5          57  06/01/1900        0.00 22.60   1-apr
6          57  07/01/1900        0.00 22.60   1-apr
7          57  08/01/1900        0.00 22.60   1-apr
8          57  09/01/1900        0.00 22.60   1-apr
9          57  10/01/1900        0.00 22.60   1-apr
10         57  11/01/1900        0.00 22.60   1-apr
11         57  12/01/1900        0.00 22.60   1-apr
12         57  13/01/1900        0.00 22.60   1-apr
13         57  14/01/1900        0.00 22.60   1-apr
14         57  15/01/1900        0.00 22.60   1-apr
15         57  16/01/1900        0.00 22.60   1-apr
16         57  17/01/1900        0.00 22.60   1-apr
17         57  18/01/1900        0.00 22.60   1-apr
18         57  19/01/1900        0.00 22.60   1-apr
19         57  20/01/1900        0.00 22.60   1-apr
20         57  21/01/1900        0.00 22.60   1-apr
21         57  22/01/1900        0.00 22.60   1-apr
22         57  23/01/1900        0.00 22.60   1-apr
23         57  24/01/1900        0.00 22.60   1-apr
24         57  25/01/1900        0.00 22.60   1-apr
25         57  26/01/1900        0.00 22.60   1-apr
26         57  27/01/1900        0.00 22.60   1-apr
27         57  28/01/1900        0.00 22.60   1-apr
28         57  29/01/1900        0.00 22.60   1-apr
29         57  30/01/1900        0.00 22.60   1-apr
...       ...         ...         ...   ...     ...
430350   1020  02/10/2017       55.21 18.55  29-jul
430351   1020  03/10/2017       56.73 17.45  29-jul
430352   1020  04/10/2017       58.34 17.95  29-jul
430353   1020  05/10/2017       60.15 18.95  29-jul
430354   1020  06/10/2017       61.97 19.10  29-jul
430355   1020  07/10/2017       62.95 14.10  29-jul
430356   1020  08/10/2017       64.31 16.55  29-jul
430357   1020  09/10/2017       65.33 16.75  29-jul
430358   1020  10/10/2017       65.88 16.05  29-jul
430359   1020  11/10/2017       66.50 16.95  29-jul
430360   1020  12/10/2017       67.30 19.15  29-jul
430361   1020  13/10/2017       68.01 17.85  29-jul
430362   1020  14/10/2017       68.79 19.20  29-jul
430363   1020  15/10/2017       69.45 17.60  29-jul
430364   1020  16/10/2017       70.19 18.70  29-jul
430365   1020  17/10/2017       70.88 18.05  29-jul
430366   1020  18/10/2017       71.33 18.00  29-jul
430367   1020  19/10/2017       71.82 19.45  29-jul
430368   1020  20/10/2017       72.47 24.85  29-jul
430369   1020  21/10/2017       73.11 22.95  29-jul
430370   1020  22/10/2017       73.63 20.70  29-jul
430371   1020  23/10/2017       74.19 21.25  29-jul
430372   1020  24/10/2017       74.61 18.15  29-jul
430373   1020  25/10/2017       75.01 17.70  29-jul
430374   1020  26/10/2017       75.44 18.45  29-jul
430375   1020  27/10/2017       75.82 17.40  29-jul
430376   1020  28/10/2017       76.23 18.15  29-jul
430377   1020  29/10/2017       76.79 21.40  29-jul
430378   1020  30/10/2017       77.22 18.30  29-jul
430379   1020  31/10/2017       77.79 21.70  29-jul

[430380 rows x 5 columns]

In [29]:
#index = subData.index
#subData = pd.DataFrame(subData, index=index, columns = filterCols)
#subData.loc['sowdate']

In [30]:
#update the sowdate to include the year
subData['date'] = pd.to_datetime(subData['date'], format="%d/%m/%Y")
subData['sowdate'] = subData['sowdate'] + '-' + subData['date'].dt.year.map(str)
subData['sowdate'] = pd.to_datetime(subData['sowdate'], format="%d-%b-%Y")
subData

/apps/python/3.6.1/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/apps/python/3.6.1/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/apps/python/3.6.1/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

        SimID       date  ZadokStage  avgt    sowdate
0          57 1900-01-01        0.00 22.60 1900-04-01
1          57 1900-01-02        0.00 22.60 1900-04-01
2          57 1900-01-03        0.00 22.60 1900-04-01
3          57 1900-01-04        0.00 22.60 1900-04-01
4          57 1900-01-05        0.00 22.60 1900-04-01
5          57 1900-01-06        0.00 22.60 1900-04-01
6          57 1900-01-07        0.00 22.60 1900-04-01
7          57 1900-01-08        0.00 22.60 1900-04-01
8          57 1900-01-09        0.00 22.60 1900-04-01
9          57 1900-01-10        0.00 22.60 1900-04-01
10         57 1900-01-11        0.00 22.60 1900-04-01
11         57 1900-01-12        0.00 22.60 1900-04-01
12         57 1900-01-13        0.00 22.60 1900-04-01
13         57 1900-01-14        0.00 22.60 1900-04-01
14         57 1900-01-15        0.00 22.60 1900-04-01
15         57 1900-01-16        0.00 22.60 1900-04-01
16         57 1900-01-17        0.00 22.60 1900-04-01
17         57 1900-01-18        0.00 22.60 1900-04-01
18         57 1900-01-19        0.00 22.60 1900-04-01
19         57 1900-01-20        0.00 22.60 1900-04-01
20         57 1900-01-21        0.00 22.60 1900-04-01
21         57 1900-01-22        0.00 22.60 1900-04-01
22         57 1900-01-23        0.00 22.60 1900-04-01
23         57 1900-01-24        0.00 22.60 1900-04-01
24         57 1900-01-25        0.00 22.60 1900-04-01
25         57 1900-01-26        0.00 22.60 1900-04-01
26         57 1900-01-27        0.00 22.60 1900-04-01
27         57 1900-01-28        0.00 22.60 1900-04-01
28         57 1900-01-29        0.00 22.60 1900-04-01
29         57 1900-01-30        0.00 22.60 1900-04-01
...       ...        ...         ...   ...        ...
430350   1020 2017-10-02       55.21 18.55 2017-07-29
430351   1020 2017-10-03       56.73 17.45 2017-07-29
430352   1020 2017-10-04       58.34 17.95 2017-07-29
430353   1020 2017-10-05       60.15 18.95 2017-07-29
430354   1020 2017-10-06       61.97 19.10 2017-07-29
430355   1020 2017-10-07       62.95 14.10 2017-07-29
430356   1020 2017-10-08       64.31 16.55 2017-07-29
430357   1020 2017-10-09       65.33 16.75 2017-07-29
430358   1020 2017-10-10       65.88 16.05 2017-07-29
430359   1020 2017-10-11       66.50 16.95 2017-07-29
430360   1020 2017-10-12       67.30 19.15 2017-07-29
430361   1020 2017-10-13       68.01 17.85 2017-07-29
430362   1020 2017-10-14       68.79 19.20 2017-07-29
430363   1020 2017-10-15       69.45 17.60 2017-07-29
430364   1020 2017-10-16       70.19 18.70 2017-07-29
430365   1020 2017-10-17       70.88 18.05 2017-07-29
430366   1020 2017-10-18       71.33 18.00 2017-07-29
430367   1020 2017-10-19       71.82 19.45 2017-07-29
430368   1020 2017-10-20       72.47 24.85 2017-07-29
430369   1020 2017-10-21       73.11 22.95 2017-07-29
430370   1020 2017-10-22       73.63 20.70 2017-07-29
430371   1020 2017-10-23       74.19 21.25 2017-07-29
430372   1020 2017-10-24       74.61 18.15 2017-07-29
430373   1020 2017-10-25       75.01 17.70 2017-07-29
430374   1020 2017-10-26       75.44 18.45 2017-07-29
430375   1020 2017-10-27       75.82 17.40 2017-07-29
430376   1020 2017-10-28       76.23 18.15 2017-07-29
430377   1020 2017-10-29       76.79 21.40 2017-07-29
430378   1020 2017-10-30       77.22 18.30 2017-07-29
430379   1020 2017-10-31       77.79 21.70 2017-07-29

[430380 rows x 5 columns]

### now calculate the cumulative temp info for each simulation

For each SimId, cumulative add the avgt (average Temperature) values between the sowdate and the current date (where the date is > sowdate and the ZadokStage < 70

In [32]:
#def calc_cumulativeTT(df, simId, sowdate, currdate, zadokStage):
#    '''
#    '''
#get the subset based on the simId
#dfSub = subData.loc[subData['SimID'] == 57]
#dfSub

subData['date1'] = subData['date'].dt.strftime('%d/%m/%Y')
subData['sowdate1'] = subData['sowdate'].dt.strftime('%d/%m/%Y')
subData
#

/apps/python/3.6.1/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/apps/python/3.6.1/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

        SimID       date  ZadokStage  avgt    sowdate       date1    sowdate1
0          57 1900-01-01        0.00 22.60 1900-04-01  01/01/1900  01/04/1900
1          57 1900-01-02        0.00 22.60 1900-04-01  02/01/1900  01/04/1900
2          57 1900-01-03        0.00 22.60 1900-04-01  03/01/1900  01/04/1900
3          57 1900-01-04        0.00 22.60 1900-04-01  04/01/1900  01/04/1900
4          57 1900-01-05        0.00 22.60 1900-04-01  05/01/1900  01/04/1900
5          57 1900-01-06        0.00 22.60 1900-04-01  06/01/1900  01/04/1900
6          57 1900-01-07        0.00 22.60 1900-04-01  07/01/1900  01/04/1900
7          57 1900-01-08        0.00 22.60 1900-04-01  08/01/1900  01/04/1900
8          57 1900-01-09        0.00 22.60 1900-04-01  09/01/1900  01/04/1900
9          57 1900-01-10        0.00 22.60 1900-04-01  10/01/1900  01/04/1900
10         57 1900-01-11        0.00 22.60 1900-04-01  11/01/1900  01/04/1900
11         57 1900-01-12        0.00 22.60 1900-04-01  12/01/1900  01/04/1900
12         57 1900-01-13        0.00 22.60 1900-04-01  13/01/1900  01/04/1900
13         57 1900-01-14        0.00 22.60 1900-04-01  14/01/1900  01/04/1900
14         57 1900-01-15        0.00 22.60 1900-04-01  15/01/1900  01/04/1900
15         57 1900-01-16        0.00 22.60 1900-04-01  16/01/1900  01/04/1900
16         57 1900-01-17        0.00 22.60 1900-04-01  17/01/1900  01/04/1900
17         57 1900-01-18        0.00 22.60 1900-04-01  18/01/1900  01/04/1900
18         57 1900-01-19        0.00 22.60 1900-04-01  19/01/1900  01/04/1900
19         57 1900-01-20        0.00 22.60 1900-04-01  20/01/1900  01/04/1900
20         57 1900-01-21        0.00 22.60 1900-04-01  21/01/1900  01/04/1900
21         57 1900-01-22        0.00 22.60 1900-04-01  22/01/1900  01/04/1900
22         57 1900-01-23        0.00 22.60 1900-04-01  23/01/1900  01/04/1900
23         57 1900-01-24        0.00 22.60 1900-04-01  24/01/1900  01/04/1900
24         57 1900-01-25        0.00 22.60 1900-04-01  25/01/1900  01/04/1900
25         57 1900-01-26        0.00 22.60 1900-04-01  26/01/1900  01/04/1900
26         57 1900-01-27        0.00 22.60 1900-04-01  27/01/1900  01/04/1900
27         57 1900-01-28        0.00 22.60 1900-04-01  28/01/1900  01/04/1900
28         57 1900-01-29        0.00 22.60 1900-04-01  29/01/1900  01/04/1900
29         57 1900-01-30        0.00 22.60 1900-04-01  30/01/1900  01/04/1900
...       ...        ...         ...   ...        ...         ...         ...
430350   1020 2017-10-02       55.21 18.55 2017-07-29  02/10/2017  29/07/2017
430351   1020 2017-10-03       56.73 17.45 2017-07-29  03/10/2017  29/07/2017
430352   1020 2017-10-04       58.34 17.95 2017-07-29  04/10/2017  29/07/2017
430353   1020 2017-10-05       60.15 18.95 2017-07-29  05/10/2017  29/07/2017
430354   1020 2017-10-06       61.97 19.10 2017-07-29  06/10/2017  29/07/2017
430355   1020 2017-10-07       62.95 14.10 2017-07-29  07/10/2017  29/07/2017
430356   1020 2017-10-08       64.31 16.55 2017-07-29  08/10/2017  29/07/2017
430357   1020 2017-10-09       65.33 16.75 2017-07-29  09/10/2017  29/07/2017
430358   1020 2017-10-10       65.88 16.05 2017-07-29  10/10/2017  29/07/2017
430359   1020 2017-10-11       66.50 16.95 2017-07-29  11/10/2017  29/07/2017
430360   1020 2017-10-12       67.30 19.15 2017-07-29  12/10/2017  29/07/2017
430361   1020 2017-10-13       68.01 17.85 2017-07-29  13/10/2017  29/07/2017
430362   1020 2017-10-14       68.79 19.20 2017-07-29  14/10/2017  29/07/2017
430363   1020 2017-10-15       69.45 17.60 2017-07-29  15/10/2017  29/07/2017
430364   1020 2017-10-16       70.19 18.70 2017-07-29  16/10/2017  29/07/2017
430365   1020 2017-10-17       70.88 18.05 2017-07-29  17/10/2017  29/07/2017
430366   1020 2017-10-18       71.33 18.00 2017-07-29  18/10/2017  29/07/2017
430367   1020 2017-10-19       71.82 19.45 2017-07-29  19/10/2017  29/07/2017
430368   1020 2017-10-20       72.47 24.85 2017-07-29  20/10/2017  29/07/2017
430369   1020 2017-10-21       73.11 22.95 2017-07-29  21/10/2017  29/07/2017
430370   1020 2017-10-22       73.63 20.70 2017-07-29  22/10/2017  29/07/2017
430371   1020 2017-10-23       74.19 21.25 2017-07-29  23/10/2017  29/07/2017
430372   1020 2017-10-24       74.61 18.15 2017-07-29  24/10/2017  29/07/2017
430373   1020 2017-10-25       75.01 17.70 2017-07-29  25/10/2017  29/07/2017
430374   1020 2017-10-26       75.44 18.45 2017-07-29  26/10/2017  29/07/2017
430375   1020 2017-10-27       75.82 17.40 2017-07-29  27/10/2017  29/07/2017
430376   1020 2017-10-28       76.23 18.15 2017-07-29  28/10/2017  29/07/2017
430377   1020 2017-10-29       76.79 21.40 2017-07-29  29/10/2017  29/07/2017
430378   1020 2017-10-30       77.22 18.30 2017-07-29  30/10/2017  29/07/2017
430379   1020 2017-10-31       77.79 21.70 2017-07-29  31/10/2017  29/07/2017

[430380 rows x 7 columns]

In [45]:
# Create a copy of the current dataframe so that it can be reset easily
dfSub2 = subData.copy()
dfSub2

        SimID       date  ZadokStage  avgt    sowdate       date1    sowdate1
0          57 1900-01-01        0.00 22.60 1900-04-01  01/01/1900  01/04/1900
1          57 1900-01-02        0.00 22.60 1900-04-01  02/01/1900  01/04/1900
2          57 1900-01-03        0.00 22.60 1900-04-01  03/01/1900  01/04/1900
3          57 1900-01-04        0.00 22.60 1900-04-01  04/01/1900  01/04/1900
4          57 1900-01-05        0.00 22.60 1900-04-01  05/01/1900  01/04/1900
5          57 1900-01-06        0.00 22.60 1900-04-01  06/01/1900  01/04/1900
6          57 1900-01-07        0.00 22.60 1900-04-01  07/01/1900  01/04/1900
7          57 1900-01-08        0.00 22.60 1900-04-01  08/01/1900  01/04/1900
8          57 1900-01-09        0.00 22.60 1900-04-01  09/01/1900  01/04/1900
9          57 1900-01-10        0.00 22.60 1900-04-01  10/01/1900  01/04/1900
10         57 1900-01-11        0.00 22.60 1900-04-01  11/01/1900  01/04/1900
11         57 1900-01-12        0.00 22.60 1900-04-01  12/01/1900  01/04/1900
12         57 1900-01-13        0.00 22.60 1900-04-01  13/01/1900  01/04/1900
13         57 1900-01-14        0.00 22.60 1900-04-01  14/01/1900  01/04/1900
14         57 1900-01-15        0.00 22.60 1900-04-01  15/01/1900  01/04/1900
15         57 1900-01-16        0.00 22.60 1900-04-01  16/01/1900  01/04/1900
16         57 1900-01-17        0.00 22.60 1900-04-01  17/01/1900  01/04/1900
17         57 1900-01-18        0.00 22.60 1900-04-01  18/01/1900  01/04/1900
18         57 1900-01-19        0.00 22.60 1900-04-01  19/01/1900  01/04/1900
19         57 1900-01-20        0.00 22.60 1900-04-01  20/01/1900  01/04/1900
20         57 1900-01-21        0.00 22.60 1900-04-01  21/01/1900  01/04/1900
21         57 1900-01-22        0.00 22.60 1900-04-01  22/01/1900  01/04/1900
22         57 1900-01-23        0.00 22.60 1900-04-01  23/01/1900  01/04/1900
23         57 1900-01-24        0.00 22.60 1900-04-01  24/01/1900  01/04/1900
24         57 1900-01-25        0.00 22.60 1900-04-01  25/01/1900  01/04/1900
25         57 1900-01-26        0.00 22.60 1900-04-01  26/01/1900  01/04/1900
26         57 1900-01-27        0.00 22.60 1900-04-01  27/01/1900  01/04/1900
27         57 1900-01-28        0.00 22.60 1900-04-01  28/01/1900  01/04/1900
28         57 1900-01-29        0.00 22.60 1900-04-01  29/01/1900  01/04/1900
29         57 1900-01-30        0.00 22.60 1900-04-01  30/01/1900  01/04/1900
...       ...        ...         ...   ...        ...         ...         ...
430350   1020 2017-10-02       55.21 18.55 2017-07-29  02/10/2017  29/07/2017
430351   1020 2017-10-03       56.73 17.45 2017-07-29  03/10/2017  29/07/2017
430352   1020 2017-10-04       58.34 17.95 2017-07-29  04/10/2017  29/07/2017
430353   1020 2017-10-05       60.15 18.95 2017-07-29  05/10/2017  29/07/2017
430354   1020 2017-10-06       61.97 19.10 2017-07-29  06/10/2017  29/07/2017
430355   1020 2017-10-07       62.95 14.10 2017-07-29  07/10/2017  29/07/2017
430356   1020 2017-10-08       64.31 16.55 2017-07-29  08/10/2017  29/07/2017
430357   1020 2017-10-09       65.33 16.75 2017-07-29  09/10/2017  29/07/2017
430358   1020 2017-10-10       65.88 16.05 2017-07-29  10/10/2017  29/07/2017
430359   1020 2017-10-11       66.50 16.95 2017-07-29  11/10/2017  29/07/2017
430360   1020 2017-10-12       67.30 19.15 2017-07-29  12/10/2017  29/07/2017
430361   1020 2017-10-13       68.01 17.85 2017-07-29  13/10/2017  29/07/2017
430362   1020 2017-10-14       68.79 19.20 2017-07-29  14/10/2017  29/07/2017
430363   1020 2017-10-15       69.45 17.60 2017-07-29  15/10/2017  29/07/2017
430364   1020 2017-10-16       70.19 18.70 2017-07-29  16/10/2017  29/07/2017
430365   1020 2017-10-17       70.88 18.05 2017-07-29  17/10/2017  29/07/2017
430366   1020 2017-10-18       71.33 18.00 2017-07-29  18/10/2017  29/07/2017
430367   1020 2017-10-19       71.82 19.45 2017-07-29  19/10/2017  29/07/2017
430368   1020 2017-10-20       72.47 24.85 2017-07-29  20/10/2017  29/07/2017
430369   1020 2017-10-21       73.11 22.95 2017-07-29  21/10/2017  29/07/2017
430370   1020 2017-10-22       73.63 20.70 2017-07-29  22/10/2017  29/07/2017
430371   1020 2017-10-23       74.19 21.25 2017-07-29  23/10/2017  29/07/2017
430372   1020 2017-10-24       74.61 18.15 2017-07-29  24/10/2017  29/07/2017
430373   1020 2017-10-25       75.01 17.70 2017-07-29  25/10/2017  29/07/2017
430374   1020 2017-10-26       75.44 18.45 2017-07-29  26/10/2017  29/07/2017
430375   1020 2017-10-27       75.82 17.40 2017-07-29  27/10/2017  29/07/2017
430376   1020 2017-10-28       76.23 18.15 2017-07-29  28/10/2017  29/07/2017
430377   1020 2017-10-29       76.79 21.40 2017-07-29  29/10/2017  29/07/2017
430378   1020 2017-10-30       77.22 18.30 2017-07-29  30/10/2017  29/07/2017
430379   1020 2017-10-31       77.79 21.70 2017-07-29  31/10/2017  29/07/2017

[430380 rows x 7 columns]

In [49]:
#save this to a csv, so we can view elsewhere
outCols = ['SimID', 'sowdate', 'date', 'ZadokStage', 'avgt']
outSub = dfSub2[outCols]
filename = apsim_outfiledir + "/sim57_zadok.csv"
outSub.to_csv(filename, encoding='utf-8', index=False)

In [50]:
dfSub2['avgTemp'] = dfSub2['avgt'].where((dfSub2['date'] >= dfSub2['sowdate']) & (dfSub2['ZadokStage'] > 0) & (dfSub2['ZadokStage'] <= 70), 0)
dfSub2['cumAvgTemp'] = dfSub2.groupby(by=['SimID','sowdate'])['avgTemp'].cumsum()
dfSub2

,SimID,date,ZadokStage,avgt,sowdate,date1,sowdate1,avgTemp,cumAvgTemp
0,57,1900-01-01,0.00,22.60,1900-04-01,01/01/1900,01/04/1900,0.00,0.00
1,57,1900-01-02,0.00,22.60,1900-04-01,02/01/1900,01/04/1900,0.00,0.00
2,57,1900-01-03,0.00,22.60,1900-04-01,03/01/1900,01/04/1900,0.00,0.00
3,57,1900-01-04,0.00,22.60,1900-04-01,04/01/1900,01/04/1900,0.00,0.00
4,57,1900-01-05,0.00,22.60,1900-04-01,05/01/1900,01/04/1900,0.00,0.00
5,57,1900-01-06,0.00,22.60,1900-04-01,06/01/1900,01/04/1900,0.00,0.00
6,57,1900-01-07,0.00,22.60,1900-04-01,07/01/1900,01/04/1900,0.00,0.00
7,57,1900-01-08,0.00,22.60,1900-04-01,08/01/1900,01/04/1900,0.00,0.00
8,57,1900-01-09,0.00,22.60,1900-04-01,09/01/1900,01/04/1900,0.00,0.00
9,57,1900-01-10,0.00,22.60,1900-04-01,10/01/1900,01/04/1900,0.00,0.00
10,57,1900-01-11,0.00,22.60,1900-04-01,11/01/1900,01/04/1900,0.00,0.00
11,57,1900-01-12,0.00,22.60,1900-04-01,12/01/1900,01/04/1900,0.00,0.00
12,57,1900-01-13,0.00,22.60,1900-04-01,13/01/1900,01/04/1900,0.00,0.00
13,57,1900-01-14,0.00,22.60,1900-04-01,14/01/1900,01/04/1900,0.00,0.00
14,57,1900-01-15,0.00,22.60,1900-04-01,15/01/1900,01/04/1900,0.00,0.00
15,57,1900-01-16,0.00,22.60,1900-04-01,16/01/1900,01/04/1900,0.00,0.00
16,57,1900-01-17,0.00,22.60,1900-04-01,17/01/1900,01/04/1900,0.00,0.00
17,57,1900-01-18,0.00,22.60,1900-04-01,18/01/1900,01/04/1900,0.00,0.00
18,57,1900-01-19,0.00,22.60,1900-04-01,19/01/1900,01/04/1900,0.00,0.00
19,57,1900-01-20,0.00,22.60,1900-04-01,20/01/1900,01/04/1900,0.00,0.00
20,57,1900-01-21,0.00,22.60,1900-04-01,21/01/1900,01/04/1900,0.00,0.00
21,57,1900-01-22,0.00,22.60,1900-04-01,22/01/1900,01/04/1900,0.00,0.00
22,57,1900-01-23,0.00,22.60,1900-04-01,23/01/1900,01/04/1900,0.00,0.00
23,57,1900-01-24,0.00,22.60,1900-04-01,24/01/1900,01/04/1900,0.00,0.00
24,57,1900-01-25,0.00,22.60,1900-04-01,25/01/1900,01/04/1900,0.00,0.00
25,57,1900-01-26,0.00,22.60,1900-04-01,26/01/1900,01/04/1900,0.00,0.00
26,57,1900-01-27,0.00,22.60,1900-04-01,27/01/1900,01/04/1900,0.00,0.00
27,57,1900-01-28,0.00,22.60,1900-04-01,28/01/1900,01/04/1900,0.00,0.00
28,57,1900-01-29,0.00,22.60,1900-04-01,29/01/1900,01/04/1900,0.00,0.00
29,57,1900-01-30,0.00,22.60,1900-04-01,30/01/1900,01/04/1900,0.00,0.00
...,...,...,...,...,...,...,...,...,...
430350,1020,2017-10-02,55.21,18.55,2017-07-29,02/10/2017,29/07/2017,18.55,"1,152.25"
430351,1020,2017-10-03,56.73,17.45,2017-07-29,03/10/2017,29/07/2017,17.45,"1,169.70"
430352,1020,2017-10-04,58.34,17.95,2017-07-29,04/10/2017,29/07/2017,17.95,"1,187.65"
430353,1020,2017-10-05,60.15,18.95,2017-07-29,05/10/2017,29/07/2017,18.95,"1,206.60"
430354,1020,2017-10-06,61.97,19.10,2017-07-29,06/10/2017,29/07/2017,19.10,"1,225.70"
430355,1020,2017-10-07,62.95,14.10,2017-07-29,07/10/2017,29/07/2017,14.10,"1,239.80"
430356,1020,2017-10-08,64.31,16.55,2017-07-29,08/10/2017,29/07/2017,16.55,"1,256.35"
430357,1020,2017-10-09,65.33,16.75,2017-07-29,09/10/2017,29/07/2017,16.75,"1,273.10"
430358,1020,2017-10-10,65.88,16.05,2017-07-29,10/10/2017,29/07/2017,16.05,"1,289.15"
430359,1020,2017-10-11,66.50,16.95,2017-07-29,11/10/2017,29/07/2017,16.95,"1,306.10"
430360,1020,2017-10-12,67.30,19.15,2017-07-29,12/10/2017,29/07/2017,19.15,"1,325.25"
430361,1020,2017-10-13,68.01,17.85,2017-07-29,13/10/2017,29/07/2017,17.85,"1,343.10"
430362,1020,2017-10-14,68.79,19.20,2017-07-29,14/10/2017,29/07/2017,19.20,"1,362.30"
430363,1020,2017-10-15,69.45,17.60,2017-07-29,15/10/2017,29/07/2017,17.60,"1,379.90"
430364,1020,2017-10-16,70.19,18.70,2017-07-29,16/10/2017,29/07/2017,0.00,"1,379.90"
430365,1020,2017-10-17,70.88,18.05,2017-07-29,17/10/2017,29/07/2017,0.00,"1,379.90"
430366,1020,2017-10-18,71.33,18.00,2017-07-29,18/10/2017,29/07/2017,0.00,"1,379.90"
430367,1020,2017-10-19,71.82,19.45,2017-07-29,19/10/2017,29/07/2017,0.00,"1,379.90"
430368,1020,2017-10-20,72.47,24.85,2017-07-29,20/10/2017,29/07/2017,0.00,"1,379.90"
430369,1020,2017-10-21,73.11,22.95,2017-07-29,21/10/2017,29/07/2017,0.00,"1,379.90"
430370,1020,2017-10-22,73.63,20.70,2017-07-29,22/10/2017,29/07/2017,0.00,"1,379.90"
430371,1020,2017-10-23,74.19,21.25,2017-07-29,23/10/2017,29/07/2017,0.00,"1,379.90"
430372,1020,2017-10-24,74.61,18.15,2017-07-29,24/10/2017,29/07/2017,0.00,"1,379.90"
430373,1020,2017-10-25,75.01,17.70,2017-07-29,25/10/2017,29/07/2017,0.00,"1,379.90"
430374,1020,2017-10-26,75.44,18.45,2017-07-29,26/10/2017,29/07/2017,0.00,"1,379.90"
430375,1020,2017-10-27,75.82,17.40,2017-07-29,27/10/2017,29/07/2017,0.00,"1,379.90"
430376,1020,2017-10-28,76.23,18.15,2017-07-29,28/10/2017,29/07/2017,0.00,"1,379.90"
430377,1020,2017-10-29,76.79,21.40,2017-07-29,29/10/2017,29/07/2017,0.00,"1,379.90"
430378,1020,2017-10-30,77.22,18.30,2017-07-29,30/10/2017,29/07/2017,0.00,"1,379.90"
430379,1020,2017-10-31,77.79,21.70,2017-07-29,31/10/2017,29/07/2017,0.00,"1,379.90"

In [72]:
newData = dfSub2[dfSub2['avgTemp'] > 0]
newData

,SimID,date,ZadokStage,avgt,sowdate,date1,sowdate1,avgTemp,cumAvgTemp
90,57,1900-04-01,5.00,20.95,1900-04-01,01/04/1900,01/04/1900,20.95,20.95
91,57,1900-04-02,6.27,20.90,1900-04-01,02/04/1900,01/04/1900,20.90,41.85
92,57,1900-04-03,7.55,20.90,1900-04-01,03/04/1900,01/04/1900,20.90,62.75
93,57,1900-04-04,8.82,20.90,1900-04-01,04/04/1900,01/04/1900,20.90,83.65
94,57,1900-04-05,30.30,20.90,1900-04-01,05/04/1900,01/04/1900,20.90,104.55
95,57,1900-04-06,30.41,20.90,1900-04-01,06/04/1900,01/04/1900,20.90,125.45
96,57,1900-04-07,30.49,20.90,1900-04-01,07/04/1900,01/04/1900,20.90,146.35
97,57,1900-04-08,30.57,20.85,1900-04-01,08/04/1900,01/04/1900,20.85,167.20
98,57,1900-04-09,30.63,20.85,1900-04-01,09/04/1900,01/04/1900,20.85,188.05
99,57,1900-04-10,30.79,20.85,1900-04-01,10/04/1900,01/04/1900,20.85,208.90
100,57,1900-04-11,30.87,20.85,1900-04-01,11/04/1900,01/04/1900,20.85,229.75
101,57,1900-04-12,30.95,20.85,1900-04-01,12/04/1900,01/04/1900,20.85,250.60
102,57,1900-04-13,31.08,20.80,1900-04-01,13/04/1900,01/04/1900,20.80,271.40
103,57,1900-04-14,31.14,20.80,1900-04-01,14/04/1900,01/04/1900,20.80,292.20
104,57,1900-04-15,31.20,20.80,1900-04-01,15/04/1900,01/04/1900,20.80,313.00
105,57,1900-04-16,31.26,20.80,1900-04-01,16/04/1900,01/04/1900,20.80,333.80
106,57,1900-04-17,31.41,20.80,1900-04-01,17/04/1900,01/04/1900,20.80,354.60
107,57,1900-04-18,31.48,20.80,1900-04-01,18/04/1900,01/04/1900,20.80,375.40
108,57,1900-04-19,31.54,20.75,1900-04-01,19/04/1900,01/04/1900,20.75,396.15
109,57,1900-04-20,31.60,20.75,1900-04-01,20/04/1900,01/04/1900,20.75,416.90
110,57,1900-04-21,31.74,20.75,1900-04-01,21/04/1900,01/04/1900,20.75,437.65
111,57,1900-04-22,31.80,20.75,1900-04-01,22/04/1900,01/04/1900,20.75,458.40
112,57,1900-04-23,31.86,20.75,1900-04-01,23/04/1900,01/04/1900,20.75,479.15
113,57,1900-04-24,31.92,20.75,1900-04-01,24/04/1900,01/04/1900,20.75,499.90
114,57,1900-04-25,32.06,20.70,1900-04-01,25/04/1900,01/04/1900,20.70,520.60
115,57,1900-04-26,32.12,20.70,1900-04-01,26/04/1900,01/04/1900,20.70,541.30
116,57,1900-04-27,32.18,20.70,1900-04-01,27/04/1900,01/04/1900,20.70,562.00
117,57,1900-04-28,32.24,20.70,1900-04-01,28/04/1900,01/04/1900,20.70,582.70
118,57,1900-04-29,32.38,20.70,1900-04-01,29/04/1900,01/04/1900,20.70,603.40
119,57,1900-04-30,32.44,20.65,1900-04-01,30/04/1900,01/04/1900,20.65,624.05
...,...,...,...,...,...,...,...,...,...
430334,1020,2017-09-16,35.71,19.45,2017-07-29,16/09/2017,29/07/2017,19.45,868.25
430335,1020,2017-09-17,36.56,18.45,2017-07-29,17/09/2017,29/07/2017,18.45,886.70
430336,1020,2017-09-18,37.33,21.70,2017-07-29,18/09/2017,29/07/2017,21.70,908.40
430337,1020,2017-09-19,38.17,16.95,2017-07-29,19/09/2017,29/07/2017,16.95,925.35
430338,1020,2017-09-20,38.89,19.05,2017-07-29,20/09/2017,29/07/2017,19.05,944.40
430339,1020,2017-09-21,39.00,19.25,2017-07-29,21/09/2017,29/07/2017,19.25,963.65
430340,1020,2017-09-22,40.87,19.60,2017-07-29,22/09/2017,29/07/2017,19.60,983.25
430341,1020,2017-09-23,42.66,19.10,2017-07-29,23/09/2017,29/07/2017,19.10,"1,002.35"
430342,1020,2017-09-24,43.92,16.15,2017-07-29,24/09/2017,29/07/2017,16.15,"1,018.50"
430343,1020,2017-09-25,45.20,16.25,2017-07-29,25/09/2017,29/07/2017,16.25,"1,034.75"
430344,1020,2017-09-26,46.36,15.50,2017-07-29,26/09/2017,29/07/2017,15.50,"1,050.25"
430345,1020,2017-09-27,47.40,14.60,2017-07-29,27/09/2017,29/07/2017,14.60,"1,064.85"
430346,1020,2017-09-28,48.41,14.35,2017-07-29,28/09/2017,29/07/2017,14.35,"1,079.20"
430347,1020,2017-09-29,49.57,14.95,2017-07-29,29/09/2017,29/07/2017,14.95,"1,094.15"
430348,1020,2017-09-30,51.29,18.40,2017-07-29,30/09/2017,29/07/2017,18.40,"1,112.55"
430349,1020,2017-10-01,53.46,21.15,2017-07-29,01/10/2017,29/07/2017,21.15,"1,133.70"
430350,1020,2017-10-02,55.21,18.55,2017-07-29,02/10/2017,29/07/2017,18.55,"1,152.25"
430351,1020,2017-10-03,56.73,17.45,2017-07-29,03/10/2017,29/07/2017,17.45,"1,169.70"
430352,1020,2017-10-04,58.34,17.95,2017-07-29,04/10/2017,29/07/2017,17.95,"1,187.65"
430353,1020,2017-10-05,60.15,18.95,2017-07-29,05/10/2017,29/07/2017,18.95,"1,206.60"
430354,1020,2017-10-06,61.97,19.10,2017-07-29,06/10/2017,29/07/2017,19.10,"1,225.70"
430355,1020,2017-10-07,62.95,14.10,2017-07-29,07/10/2017,29/07/2017,14.10,"1,239.80"
430356,1020,2017-10-08,64.31,16.55,2017-07-29,08/10/2017,29/07/2017,16.55,"1,256.35"
430357,1020,2017-10-09,65.33,16.75,2017-07-29,09/10/2017,29/07/2017,16.75,"1,273.10"
430358,1020,2017-10-10,65.88,16.05,2017-07-29,10/10/2017,29/07/2017,16.05,"1,289.15"
430359,1020,2017-10-11,66.50,16.95,2017-07-29,11/10/2017,29/07/2017,16.95,"1,306.10"
430360,1020,2017-10-12,67.30,19.15,2017-07-29,12/10/2017,29/07/2017,19.15,"1,325.25"
430361,1020,2017-10-13,68.01,17.85,2017-07-29,13/10/2017,29/07/2017,17.85,"1,343.10"
430362,1020,2017-10-14,68.79,19.20,2017-07-29,14/10/2017,29/07/2017,19.20,"1,362.30"
430363,1020,2017-10-15,69.45,17.60,2017-07-29,15/10/2017,29/07/2017,17.60,"1,379.90"

In [73]:
newData3 = newData.groupby(['SimID','sowdate'])['cumAvgTemp'].max()
newData3

SimID  sowdate
57     1900-04-01   1,362.35
       1901-04-01   1,432.05
       1902-04-01   1,324.90
       1903-04-01   1,357.00
       1904-04-01   1,285.85
       1905-04-01   1,342.55
       1906-04-01   1,318.25
       1907-04-01   1,415.90
       1908-04-01   1,453.35
       1909-04-01   1,341.35
       1910-04-01   1,499.35
       1911-04-01   1,446.50
       1912-04-01   1,393.85
       1913-04-01   1,387.85
       1914-04-01   1,398.00
       1915-04-01   1,345.55
       1916-04-01   1,418.10
       1917-04-01   1,386.80
       1918-04-01   1,378.85
       1919-04-01   1,424.20
       1920-04-01   1,395.10
       1921-04-01   1,401.30
       1922-04-01   1,426.20
       1923-04-01   1,426.75
       1924-04-01   1,430.75
       1925-04-01   1,398.95
       1926-04-01   1,422.30
       1927-04-01   1,460.60
       1928-04-01   1,461.00
       1929-04-01   1,400.95
                      ...
1020   1988-07-29   1,400.70
       1989-07-29   1,423.75
       1990-07-29   1,407.85
       1991-07-29   1,390.80
       1992-07-29   1,412.20
       1993-07-29   1,418.10
       1994-07-29   1,402.25
       1995-07-29   1,372.25
       1996-07-29   1,371.45
       1997-07-29   1,378.20
       1998-07-29   1,388.65
       1999-07-29   1,378.65
       2000-07-29   1,361.85
       2001-07-29   1,417.55
       2002-07-29   1,385.10
       2003-07-29   1,389.05
       2004-07-29   1,382.60
       2005-07-29   1,409.75
       2006-07-29   1,322.50
       2007-07-29   1,350.05
       2008-07-29   1,365.00
       2009-07-29   1,379.60
       2010-07-29   1,340.90
       2011-07-29   1,353.80
       2012-07-29   1,318.40
       2013-07-29   1,352.45
       2014-07-29   1,286.70
       2015-07-29   1,338.15
       2016-07-29   1,350.10
       2017-07-29   1,379.90
Name: cumAvgTemp, Length: 1180, dtype: float64

In [81]:
newData4 = newData.groupby(['SimID','sowdate'])['cumAvgTemp'].max().reset_index()
newData4
newData4['sowingdate'] = newData4.sowdate.dt.strftime('%d-%b')
newData4

      SimID    sowdate  cumAvgTemp sowingdate
0        57 1900-04-01    1,362.35     01-Apr
1        57 1901-04-01    1,432.05     01-Apr
2        57 1902-04-01    1,324.90     01-Apr
3        57 1903-04-01    1,357.00     01-Apr
4        57 1904-04-01    1,285.85     01-Apr
5        57 1905-04-01    1,342.55     01-Apr
6        57 1906-04-01    1,318.25     01-Apr
7        57 1907-04-01    1,415.90     01-Apr
8        57 1908-04-01    1,453.35     01-Apr
9        57 1909-04-01    1,341.35     01-Apr
10       57 1910-04-01    1,499.35     01-Apr
11       57 1911-04-01    1,446.50     01-Apr
12       57 1912-04-01    1,393.85     01-Apr
13       57 1913-04-01    1,387.85     01-Apr
14       57 1914-04-01    1,398.00     01-Apr
15       57 1915-04-01    1,345.55     01-Apr
16       57 1916-04-01    1,418.10     01-Apr
17       57 1917-04-01    1,386.80     01-Apr
18       57 1918-04-01    1,378.85     01-Apr
19       57 1919-04-01    1,424.20     01-Apr
20       57 1920-04-01    1,395.10     01-Apr
21       57 1921-04-01    1,401.30     01-Apr
22       57 1922-04-01    1,426.20     01-Apr
23       57 1923-04-01    1,426.75     01-Apr
24       57 1924-04-01    1,430.75     01-Apr
25       57 1925-04-01    1,398.95     01-Apr
26       57 1926-04-01    1,422.30     01-Apr
27       57 1927-04-01    1,460.60     01-Apr
28       57 1928-04-01    1,461.00     01-Apr
29       57 1929-04-01    1,400.95     01-Apr
...     ...        ...         ...        ...
1150   1020 1988-07-29    1,400.70     29-Jul
1151   1020 1989-07-29    1,423.75     29-Jul
1152   1020 1990-07-29    1,407.85     29-Jul
1153   1020 1991-07-29    1,390.80     29-Jul
1154   1020 1992-07-29    1,412.20     29-Jul
1155   1020 1993-07-29    1,418.10     29-Jul
1156   1020 1994-07-29    1,402.25     29-Jul
1157   1020 1995-07-29    1,372.25     29-Jul
1158   1020 1996-07-29    1,371.45     29-Jul
1159   1020 1997-07-29    1,378.20     29-Jul
1160   1020 1998-07-29    1,388.65     29-Jul
1161   1020 1999-07-29    1,378.65     29-Jul
1162   1020 2000-07-29    1,361.85     29-Jul
1163   1020 2001-07-29    1,417.55     29-Jul
1164   1020 2002-07-29    1,385.10     29-Jul
1165   1020 2003-07-29    1,389.05     29-Jul
1166   1020 2004-07-29    1,382.60     29-Jul
1167   1020 2005-07-29    1,409.75     29-Jul
1168   1020 2006-07-29    1,322.50     29-Jul
1169   1020 2007-07-29    1,350.05     29-Jul
1170   1020 2008-07-29    1,365.00     29-Jul
1171   1020 2009-07-29    1,379.60     29-Jul
1172   1020 2010-07-29    1,340.90     29-Jul
1173   1020 2011-07-29    1,353.80     29-Jul
1174   1020 2012-07-29    1,318.40     29-Jul
1175   1020 2013-07-29    1,352.45     29-Jul
1176   1020 2014-07-29    1,286.70     29-Jul
1177   1020 2015-07-29    1,338.15     29-Jul
1178   1020 2016-07-29    1,350.10     29-Jul
1179   1020 2017-07-29    1,379.90     29-Jul

[1180 rows x 4 columns]

In [84]:
newData5 = newData4.groupby(['SimID','sowingdate'])['cumAvgTemp'].mean().reset_index()
newData5

   SimID sowingdate  cumAvgTemp
0     57     01-Apr    1,396.68
1    164     15-Apr    1,442.97
2    271     29-Apr    1,493.16
3    378     13-May    1,519.48
4    485     27-May    1,519.54
5    592     03-Jun    1,512.17
6    699     17-Jun    1,485.16
7    806     01-Jul    1,447.85
8    913     15-Jul    1,421.15
9   1020     29-Jul    1,396.39

In [85]:
filename = apsim_outfiledir + "/sim_zadok_final.csv"
newData5.to_csv(filename, encoding='utf-8', index=False)

In [ ]:
to append to the file, need to use mode='a'
#newData5.to_csv(filename, header=False, mode='a')