In [1]:
import pandas as pd
import numpy as np

In [3]:
apsim_outfiledir = "/OSM/CBR/AG_WHEATTEMP/work"

In [36]:
filename = apsim_outfiledir + "/sim57_zadok.csv"
simData = pd.read_csv(filename)
print(simData.shape)
simData

(43038, 5)

       SimID     sowdate        date  ZadokStage   avgt
0         57  1900-04-01  1900-01-01         0.0  22.60
1         57  1900-04-01  1900-01-02         0.0  22.60
2         57  1900-04-01  1900-01-03         0.0  22.60
3         57  1900-04-01  1900-01-04         0.0  22.60
4         57  1900-04-01  1900-01-05         0.0  22.60
5         57  1900-04-01  1900-01-06         0.0  22.60
6         57  1900-04-01  1900-01-07         0.0  22.60
7         57  1900-04-01  1900-01-08         0.0  22.60
8         57  1900-04-01  1900-01-09         0.0  22.60
9         57  1900-04-01  1900-01-10         0.0  22.60
10        57  1900-04-01  1900-01-11         0.0  22.60
11        57  1900-04-01  1900-01-12         0.0  22.60
12        57  1900-04-01  1900-01-13         0.0  22.60
13        57  1900-04-01  1900-01-14         0.0  22.60
14        57  1900-04-01  1900-01-15         0.0  22.60
15        57  1900-04-01  1900-01-16         0.0  22.60
16        57  1900-04-01  1900-01-17         0.0  22.60
17        57  1900-04-01  1900-01-18         0.0  22.60
18        57  1900-04-01  1900-01-19         0.0  22.60
19        57  1900-04-01  1900-01-20         0.0  22.60
20        57  1900-04-01  1900-01-21         0.0  22.60
21        57  1900-04-01  1900-01-22         0.0  22.60
22        57  1900-04-01  1900-01-23         0.0  22.60
23        57  1900-04-01  1900-01-24         0.0  22.60
24        57  1900-04-01  1900-01-25         0.0  22.60
25        57  1900-04-01  1900-01-26         0.0  22.60
26        57  1900-04-01  1900-01-27         0.0  22.60
27        57  1900-04-01  1900-01-28         0.0  22.60
28        57  1900-04-01  1900-01-29         0.0  22.60
29        57  1900-04-01  1900-01-30         0.0  22.60
...      ...         ...         ...         ...    ...
43008     57  2017-04-01  2017-10-02         0.0  18.55
43009     57  2017-04-01  2017-10-03         0.0  17.45
43010     57  2017-04-01  2017-10-04         0.0  17.95
43011     57  2017-04-01  2017-10-05         0.0  18.95
43012     57  2017-04-01  2017-10-06         0.0  19.10
43013     57  2017-04-01  2017-10-07         0.0  14.10
43014     57  2017-04-01  2017-10-08         0.0  16.55
43015     57  2017-04-01  2017-10-09         0.0  16.75
43016     57  2017-04-01  2017-10-10         0.0  16.05
43017     57  2017-04-01  2017-10-11         0.0  16.95
43018     57  2017-04-01  2017-10-12         0.0  19.15
43019     57  2017-04-01  2017-10-13         0.0  17.85
43020     57  2017-04-01  2017-10-14         0.0  19.20
43021     57  2017-04-01  2017-10-15         0.0  17.60
43022     57  2017-04-01  2017-10-16         0.0  18.70
43023     57  2017-04-01  2017-10-17         0.0  18.05
43024     57  2017-04-01  2017-10-18         0.0  18.00
43025     57  2017-04-01  2017-10-19         0.0  19.45
43026     57  2017-04-01  2017-10-20         0.0  24.85
43027     57  2017-04-01  2017-10-21         0.0  22.95
43028     57  2017-04-01  2017-10-22         0.0  20.70
43029     57  2017-04-01  2017-10-23         0.0  21.25
43030     57  2017-04-01  2017-10-24         0.0  18.15
43031     57  2017-04-01  2017-10-25         0.0  17.70
43032     57  2017-04-01  2017-10-26         0.0  18.45
43033     57  2017-04-01  2017-10-27         0.0  17.40
43034     57  2017-04-01  2017-10-28         0.0  18.15
43035     57  2017-04-01  2017-10-29         0.0  21.40
43036     57  2017-04-01  2017-10-30         0.0  18.30
43037     57  2017-04-01  2017-10-31         0.0  21.70

[43038 rows x 5 columns]

In [39]:
simData['avgTemp'] = simData['avgt'].where((simData['date'] >= simData['sowdate']) & (simData['ZadokStage'] > 0) & (simData['ZadokStage'] <= 70), 0)
simData['cumAvgTemp'] = simData.groupby(by=['SimID','sowdate'])['avgTemp'].cumsum()
simData

       SimID     sowdate        date  ZadokStage   avgt  avgTemp  cumAvgTemp
0         57  1900-04-01  1900-01-01         0.0  22.60      0.0         0.0
1         57  1900-04-01  1900-01-02         0.0  22.60      0.0         0.0
2         57  1900-04-01  1900-01-03         0.0  22.60      0.0         0.0
3         57  1900-04-01  1900-01-04         0.0  22.60      0.0         0.0
4         57  1900-04-01  1900-01-05         0.0  22.60      0.0         0.0
5         57  1900-04-01  1900-01-06         0.0  22.60      0.0         0.0
6         57  1900-04-01  1900-01-07         0.0  22.60      0.0         0.0
7         57  1900-04-01  1900-01-08         0.0  22.60      0.0         0.0
8         57  1900-04-01  1900-01-09         0.0  22.60      0.0         0.0
9         57  1900-04-01  1900-01-10         0.0  22.60      0.0         0.0
10        57  1900-04-01  1900-01-11         0.0  22.60      0.0         0.0
11        57  1900-04-01  1900-01-12         0.0  22.60      0.0         0.0
12        57  1900-04-01  1900-01-13         0.0  22.60      0.0         0.0
13        57  1900-04-01  1900-01-14         0.0  22.60      0.0         0.0
14        57  1900-04-01  1900-01-15         0.0  22.60      0.0         0.0
15        57  1900-04-01  1900-01-16         0.0  22.60      0.0         0.0
16        57  1900-04-01  1900-01-17         0.0  22.60      0.0         0.0
17        57  1900-04-01  1900-01-18         0.0  22.60      0.0         0.0
18        57  1900-04-01  1900-01-19         0.0  22.60      0.0         0.0
19        57  1900-04-01  1900-01-20         0.0  22.60      0.0         0.0
20        57  1900-04-01  1900-01-21         0.0  22.60      0.0         0.0
21        57  1900-04-01  1900-01-22         0.0  22.60      0.0         0.0
22        57  1900-04-01  1900-01-23         0.0  22.60      0.0         0.0
23        57  1900-04-01  1900-01-24         0.0  22.60      0.0         0.0
24        57  1900-04-01  1900-01-25         0.0  22.60      0.0         0.0
25        57  1900-04-01  1900-01-26         0.0  22.60      0.0         0.0
26        57  1900-04-01  1900-01-27         0.0  22.60      0.0         0.0
27        57  1900-04-01  1900-01-28         0.0  22.60      0.0         0.0
28        57  1900-04-01  1900-01-29         0.0  22.60      0.0         0.0
29        57  1900-04-01  1900-01-30         0.0  22.60      0.0         0.0
...      ...         ...         ...         ...    ...      ...         ...
43008     57  2017-04-01  2017-10-02         0.0  18.55      0.0      1385.8
43009     57  2017-04-01  2017-10-03         0.0  17.45      0.0      1385.8
43010     57  2017-04-01  2017-10-04         0.0  17.95      0.0      1385.8
43011     57  2017-04-01  2017-10-05         0.0  18.95      0.0      1385.8
43012     57  2017-04-01  2017-10-06         0.0  19.10      0.0      1385.8
43013     57  2017-04-01  2017-10-07         0.0  14.10      0.0      1385.8
43014     57  2017-04-01  2017-10-08         0.0  16.55      0.0      1385.8
43015     57  2017-04-01  2017-10-09         0.0  16.75      0.0      1385.8
43016     57  2017-04-01  2017-10-10         0.0  16.05      0.0      1385.8
43017     57  2017-04-01  2017-10-11         0.0  16.95      0.0      1385.8
43018     57  2017-04-01  2017-10-12         0.0  19.15      0.0      1385.8
43019     57  2017-04-01  2017-10-13         0.0  17.85      0.0      1385.8
43020     57  2017-04-01  2017-10-14         0.0  19.20      0.0      1385.8
43021     57  2017-04-01  2017-10-15         0.0  17.60      0.0      1385.8
43022     57  2017-04-01  2017-10-16         0.0  18.70      0.0      1385.8
43023     57  2017-04-01  2017-10-17         0.0  18.05      0.0      1385.8
43024     57  2017-04-01  2017-10-18         0.0  18.00      0.0      1385.8
43025     57  2017-04-01  2017-10-19         0.0  19.45      0.0      1385.8
43026     57  2017-04-01  2017-10-20         0.0  24.85      0.0      1385.8
43027     57  2017-04-01  2017-10-21         0.0  22.95      0.0      1385.8
43028     57  2017-04-01  2017-10-22         0.0  20.70      0.0      1385.8
43029     57  2017-04-01  2017-10-23         0.0  21.25      0.0      1385.8
43030     57  2017-04-01  2017-10-24         0.0  18.15      0.0      1385.8
43031     57  2017-04-01  2017-10-25         0.0  17.70      0.0      1385.8
43032     57  2017-04-01  2017-10-26         0.0  18.45      0.0      1385.8
43033     57  2017-04-01  2017-10-27         0.0  17.40      0.0      1385.8
43034     57  2017-04-01  2017-10-28         0.0  18.15      0.0      1385.8
43035     57  2017-04-01  2017-10-29         0.0  21.40      0.0      1385.8
43036     57  2017-04-01  2017-10-30         0.0  18.30      0.0      1385.8
43037     57  2017-04-01  2017-10-31         0.0  21.70      0.0      1385.8

[43038 rows x 7 columns]

In [40]:
filename = apsim_outfiledir + "/sim57_zadok2.csv"
simData.to_csv(filename, encoding='utf-8', index=False)

In [46]:
#now need to get the last record <= ZodokStage 70 for each simID, sowDate
newData = simData[simData['avgTemp'] > 0]
newData
#simData[(simData['avgTemp']> 0) & (simData['ZadokStage'] <= 70)].nlargest(2)

       SimID     sowdate        date  ZadokStage   avgt  avgTemp  cumAvgTemp
90        57  1900-04-01  1900-04-01    4.995000  20.95    20.95       20.95
91        57  1900-04-01  1900-04-02    6.273526  20.90    20.90       41.85
92        57  1900-04-01  1900-04-03    7.548326  20.90    20.90       62.75
93        57  1900-04-01  1900-04-04    8.823126  20.90    20.90       83.65
94        57  1900-04-01  1900-04-05   30.300000  20.90    20.90      104.55
95        57  1900-04-01  1900-04-06   30.407964  20.90    20.90      125.45
96        57  1900-04-01  1900-04-07   30.490288  20.90    20.90      146.35
97        57  1900-04-01  1900-04-08   30.572611  20.85    20.85      167.20
98        57  1900-04-01  1900-04-09   30.633333  20.85    20.85      188.05
99        57  1900-04-01  1900-04-10   30.788226  20.85    20.85      208.90
100       57  1900-04-01  1900-04-11   30.870445  20.85    20.85      229.75
101       57  1900-04-01  1900-04-12   30.952664  20.85    20.85      250.60
102       57  1900-04-01  1900-04-13   31.075521  20.80    20.80      271.40
103       57  1900-04-01  1900-04-14   31.137103  20.80    20.80      292.20
104       57  1900-04-01  1900-04-15   31.198684  20.80    20.80      313.00
105       57  1900-04-01  1900-04-16   31.260265  20.80    20.80      333.80
106       57  1900-04-01  1900-04-17   31.414417  20.80    20.80      354.60
107       57  1900-04-01  1900-04-18   31.475998  20.80    20.80      375.40
108       57  1900-04-01  1900-04-19   31.537579  20.75    20.75      396.15
109       57  1900-04-01  1900-04-20   31.599077  20.75    20.75      416.90
110       57  1900-04-01  1900-04-21   31.737416  20.75    20.75      437.65
111       57  1900-04-01  1900-04-22   31.798914  20.75    20.75      458.40
112       57  1900-04-01  1900-04-23   31.860412  20.75    20.75      479.15
113       57  1900-04-01  1900-04-24   31.921910  20.75    20.75      499.90
114       57  1900-04-01  1900-04-25   32.059640  20.70    20.70      520.60
115       57  1900-04-01  1900-04-26   32.120752  20.70    20.70      541.30
116       57  1900-04-01  1900-04-27   32.181863  20.70    20.70      562.00
117       57  1900-04-01  1900-04-28   32.242975  20.70    20.70      582.70
118       57  1900-04-01  1900-04-29   32.377951  20.70    20.70      603.40
119       57  1900-04-01  1900-04-30   32.438218  20.65    20.65      624.05
...      ...         ...         ...         ...    ...      ...         ...
42859     57  2017-04-01  2017-05-06   32.912327  20.35    20.35      819.30
42860     57  2017-04-01  2017-05-07   32.954896  21.35    21.35      840.65
42861     57  2017-04-01  2017-05-08   34.028208  20.60    20.60      861.25
42862     57  2017-04-01  2017-05-09   34.881950  19.20    19.20      880.45
42863     57  2017-04-01  2017-05-10   35.681730  21.55    21.55      902.00
42864     57  2017-04-01  2017-05-11   36.605897  16.65    16.65      918.65
42865     57  2017-04-01  2017-05-12   37.270488  17.20    17.20      935.85
42866     57  2017-04-01  2017-05-13   37.961890  17.25    17.25      953.10
42867     57  2017-04-01  2017-05-14   38.655469  21.10    21.10      974.20
42868     57  2017-04-01  2017-05-15   39.000024  22.25    22.25      996.45
42869     57  2017-04-01  2017-05-16   41.110109  20.85    20.85     1017.30
42870     57  2017-04-01  2017-05-17   42.834859  18.60    18.60     1035.90
42871     57  2017-04-01  2017-05-18   44.738245  19.60    19.60     1055.50
42872     57  2017-04-01  2017-05-19   47.038148  21.85    21.85     1077.35
42873     57  2017-04-01  2017-05-20   48.823238  19.15    19.15     1096.50
42874     57  2017-04-01  2017-05-21   50.674679  19.50    19.50     1116.00
42875     57  2017-04-01  2017-05-22   52.357684  18.55    18.55     1134.55
42876     57  2017-04-01  2017-05-23   53.801754  17.00    17.00     1151.55
42877     57  2017-04-01  2017-05-24   55.294998  17.20    17.20     1168.75
42878     57  2017-04-01  2017-05-25   56.880502  17.70    17.70     1186.45
42879     57  2017-04-01  2017-05-26   58.461993  17.75    17.75     1204.20
42880     57  2017-04-01  2017-05-27   59.807396  16.45    16.45     1220.65
42881     57  2017-04-01  2017-05-28   61.803145  20.25    20.25     1240.90
42882     57  2017-04-01  2017-05-29   63.633266  19.25    19.25     1260.15
42883     57  2017-04-01  2017-05-30   65.530355  23.40    23.40     1283.55
42884     57  2017-04-01  2017-05-31   66.364954  19.75    19.75     1303.30
42885     57  2017-04-01  2017-06-01   67.151365  19.05    19.05     1322.35
42886     57  2017-04-01  2017-06-02   67.903368  18.70    18.70     1341.05
42887     57  2017-04-01  2017-06-03   68.936300  22.30    22.30     1363.35
42888     57  2017-04-01  2017-06-04   69.982075  22.45    22.45     1385.80

[8269 rows x 7 columns]

In [47]:
newData.groupby(['SimID','sowdate'])['cumAvgTemp'].max().head(1)

SimID  sowdate
57     1900-04-01    1362.35
Name: cumAvgTemp, dtype: float64